    <!-- footer area start -->
    <footer class="footer-area pt-90" data-bg-color="#eeeff4">
        <div class=" container pb-80 has-border-bottom">
            <div class="footer-1">
                <div class="row">
                    <div class="col-xxl-4 col-xl-4 col-lg-4 order-last col-sm-12 order-lg-first">
                        <div class="footer-widget wow fadeInUp mb-30 mb-lg-0" data-wow-delay=".2s">
                            <div class="logo mb-20" style="font-size: 24px; font-weight: 600;">
                                <!-- <a href="/"><img src="assets/img/logo/logo.png" alt=""></a> -->
                                EasyState
                            </div>
                            <p class="widget-text">Me old mucker cheeky bugger is dont<br> want agro in my flat
                                little.
                            </p>
                            <a href="about.html" class="sasup-theme-btn sasup-theme-btn-2"><span>Get
                                    started</span></a>
                        </div>
                    </div>
                    <div class="col-xxl-8 col-xl-8 col-lg-8">
                        <div class="row mb-30 mb-lg-0">
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="footer-widget wow fadeInUp mb-30 mb-lg-0" data-wow-delay=".4s">
                                    <h5>Product</h5>
                                    <ul>
                                        <li><a href="service.html">Product Tour</a></li>
                                        <li><a href="about.html">Analytics</a></li>
                                        <li><a href="service-details.html">Product Overview</a></li>
                                        <li><a href="about.html">What’s New</a></li>
                                        <li><a href="portfolio.html">Templates</a></li>
                                        <li><a href="about.html">Quotes</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 wow fadeInUp"
                                data-wow-delay=".6s">
                                <div class="footer-widget mb-30 mb-lg-0">
                                    <h5>Resources</h5>
                                    <ul>
                                        <li><a href="about.html">Documentation</a></li>
                                        <li><a href="service.html">Solutions</a></li>
                                        <li><a href="about.html">Road Map</a></li>
                                        <li><a href="portfolio.html">Brand Assets</a></li>
                                        <li><a href="service.html">Feature List</a></li>
                                        <li><a href="team.html">User Flow</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 wow fadeInUp"
                                data-wow-delay=".8s">
                                <div class="footer-widget">
                                    <h5>Solutions</h5>
                                    <ul>
                                        <li><a href="contact.html">Support</a></li>
                                        <li><a href="about.html">Proposals</a></li>
                                        <li><a href="about.html">Guides</a></li>
                                        <li><a href="contact.html">Contracts</a></li>
                                        <li><a href="about.html">Signatures</a></li>
                                        <li><a href="about.html">Payments</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->
    <!-- copyright area start -->
    <div class="copyright-area pt-30 pb-30" data-bg-color="#eeeff4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-7">
                    <p class="copyright-text">© 2023 Easystate - All Rights Reserved Made by <a href="#"
                            data-color="#2f75ff">Developers</a>
                    </p>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-5">
                    <div class="text-lg-end">
                        <div class="footer-social">
                            <a href="#" data-bg-color="#3b5998"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" data-bg-color="#1da1f2"><i class="fab fa-twitter"></i></a>
                            <a href="#" data-bg-color="#e60023"><i class="fab fa-pinterest-p"></i></a>
                            <a href="#" data-bg-color="#1ab7ea"><i class="fab fa-vimeo-v"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- copyright area end -->
