  <!-- header_area_start -->
  <header class="header-transparent  header-sticky">
    <div>
        <div class="header-main">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xxl-9 col-xl-9 d-flex align-items-center col-lg-8 col-md-4 col-sm-4 col-6">
                        <div class="sasup-logo mr-35 d-inline-block">
                            <a href="/" class="logo-1"><img src="assets/img/logo/logo.png" alt=""></a>
                            <a href="/" class="logo-2"><img src="assets/img/logo/logo.png" alt=""></a>
                        </div>
                        <div class="sasup-header sasup-header-2 d-inline-block">
                            <nav id="mobile-menu">
                                <ul>
                                    <li><a href="/">Home</a>
                                    <li><a href="/#features">Features</a>
                                    <li><a href="/#team">Team</a>
                                    <li><a href="/#faq">Faqs</a>
                                    <li><a href="/contact">Contact</a>
                                        
                                    </li>
                                     </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-8 col-sm-8  col-6">
                        <div class="sasup-header-action-btn">
                            
                            <a href="/login"
                                class="sasup-border-btn sasup-broder-btn-space-3 ml-25 d-none d-sm-block">Login</a>
                            <div class="mobile-bar-control d-inline-block d-lg-none">
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header_area_start -->
<!-- responsive sidebar start -->
<div class="responsive-sidebar d-block d-lg-none">
    <div class="responsive-sidebar-inner">
        <div class="logo mb-30">
            <div class="row">
                <div class="col-6">
                    <img src="assets/img/logo/logo.png" alt="">
                </div>
                <div class="col-6">
                    <div class="text-end">
                        <button class="responsive-sidebar-close"><i class="fal fa-times"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="resposive-sidebar-menu mb-50">
            <div class="mobile-menu"></div>
        </div>
        <div class="responsive-sidebar-actions">
            <a href="/login"
                class="sasup-border-btn d-block sasup-broder-btn-space-3 ms-0 text-center mb-2">Login</a>
            
        </div>
    </div>
</div>
<!-- responsive sidebar end -->
