<!doctype html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Easystate </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="https://devsnews.com/template/sasup/sasup/site.webmanifest/">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/odometer-theme-default.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/elegantFont.css">
    <link rel="stylesheet" href="assets/css/meanmenu.css">
    <link rel="stylesheet" href="assets/css/swipper.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_four"></div>
            </div>
        </div>
    </div>
    <%- include('header'); -%>
    <main>
        <!-- slider area start -->
        <div class="sasup-slider-area p-rel mb-110">
            <div class="slider-shapes-2 d-none d-md-block">
                <div class="shape-1 shape-default">
                    <img src="assets/img/shape/slider-shape/shape1.png" alt="">
                </div>
                <div class="shape-2 shape-default">
                    <img src="assets/img/shape/slider-shape/shape03.png" alt="">
                </div>
                <div class="shape-3 shape-default">
                    <img src="assets/img/shape/slider-shape/shape4.png" alt="">
                </div>
                <div class="shape-4 shape-default">
                    <img src="assets/img/shape/slider-shape/shape6.png" alt="">
                </div>
            </div>
            <div class="sasup-slider-active">
                <div class="sasup-single-slider  pt-80 d-flex align-items-center sasup-slider-height-2"
                    data-bg-color="#f2f3f8">
                    <div class="container p-rel">
                        <div class="extra-slider-shape d-none d-xl-block">
                            <div class="shape-1">
                                <img src="assets/img/shape/slider-shape/shape5.png" alt="">
                            </div>
                            <div class="shape-2">
                                <img src="assets/img/shape/slider-shape/shape2.png" alt="">
                            </div>
                        </div>
                        <div class="row pos-visible">
                            <div class="col-xxl-7 col-xl-7 col-lg-6 col-md-6">
                                <div class="sasup-slider-content">
                                    <span class="sasup-slider-content-subtitle wow fadeInUp"
                                        data-wow-delay=".3s">Easy to use</span>
                                    <h3 class="sasup-slider-content-title wow fadeInUp" data-wow-delay=".6s">Your Seamless Property Management Awaits
                                    </h3>
                                    <p class="sasup-slider-content-desc wow fadeInUp" data-wow-delay=".8s">Nancy boy
                                        Master your real estate portfolio with EasyState 
</p>
                                    <div class="sasup-slider-actions mb-35 wow fadeInUp" data-wow-delay="1s">
                                        <a href="service-details.html" class="sasup-theme-btn-2 mr-15 mb-2 mb-lg-0">Get
                                            started now</a>
                                        <a href="https://www.youtube.com/watch?v=qJBEMesn4_M"
                                            class="sasup-video-btn fix popup-video-link">
                                            <div class="icon">
                                                <i class="fas fa-play"></i>
                                            </div>
                                            <div class="content">
                                                <span>Watch video</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="sasup-slider-content-list wow fadeInUp" data-wow-delay="1.2s">
                                        <ul>
                                            <li><i class="fal fa-check"></i><span>No credit card required</span></li>
                                            <li><i class="fal fa-check"></i><span>7 days free trial</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-5 col-xl-5  col-lg-6  col-md-6">
                                <div class="slider-shapes p-rel slider-shape-space p-rel">
                                    <div class="shape-item shape-1">
                                        <div class="shape-inner">
                                            <img src="assets/img/slider/slide_1_shape.png" alt="" class="has-shadow-1">
                                        </div>
                                    </div>
                                    <div class="shape-item shape-2">
                                        <div class="shape-inner">
                                            <img src="assets/img/slider/slide_2_shape.png" alt="" class="has-shadow-3">
                                        </div>
                                    </div>
                                    <div class="shape-item shape-3">
                                        <div class="shape-inner">
                                            <img src="assets/img/slider/slide_3_shape.png" alt="" class="has-shadow-2">
                                        </div>
                                    </div>
                                    <div class="shape-item shape-4">
                                        <div class="shape-inner">
                                            <img src="assets/img/slider/slide_4_shape.png" alt="" class="has-shadow-2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider area end -->
        <!-- feature area start -->
        <div class="feature-area pb-165" id="features">
            <div class="container">
                <div class="row mb-45">
                    <div class="col-xxl-12">
                        <div class="section-title-2 text-center">
                            <h3 class="s-title visile-br-lg">Features that<br>
                                Help you build better.</h3>
                            <p class="s-desc">Naff the little rotter have gutted mate James cuppa baking legged.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="single-feature-2 mb-55">
                            <div class="feature-icon-2">
                                <img src="assets/img/icon/icon_1.png" alt="">
                            </div>
                            <div class="feature-content-2">
                                <h4 class="feature-content-title-2"><a href="service-details.html">Intuitive Property Listings</a></h4>
                                <p class="feature-content-desc-2">Showcase your properties with ease, attract tenants faster with engaging listings, and keep occupancy rates high with our streamlined management tools.
                                </p>
                            </div>
                            <div class="feature-action-2">
                                <a href="service-details.html" class="icon-box-rounded">
                                    <i class="fal fa-arrow-right"></i>
                                    <i class="fal fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                        <div class="single-feature-2 mb-55">
                            <div class="feature-icon-2">
                                <img src="assets/img/icon/icon_2.png" alt="">
                            </div>
                            <div class="feature-content-2">
                                <h4 class="feature-content-title-2"><a href="service-details.html">AI-Driven Insights</a></h4>
                                <p class="feature-content-desc-2">Benefit from artificial intelligence that helps set competitive rents, anticipates market trends, and predicts maintenance needs.
                                </p>
                            </div>
                            <div class="feature-action-2">
                                <a href="service-details.html" class="icon-box-rounded">
                                    <i class="fal fa-arrow-right"></i>
                                    <i class="fal fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                        <div class="single-feature-2 mb-55">
                            <div class="feature-icon-2">
                                <img src="assets/img/icon/icon-3.png" alt="">
                            </div>
                            <div class="feature-content-2">
                                <h4 class="feature-content-title-2"><a href="service-details.html">Financial Oversight</a>
                                </h4>
                                <p class="feature-content-desc-2">Simplify rent collection, expense tracking, and profit analysis with our comprehensive financial toolkit designed for real estate.
                                </p>
                            </div>
                            <div class="feature-action-2">
                                <a href="service-details.html" class="icon-box-rounded">
                                    <i class="fal fa-arrow-right"></i>
                                    <i class="fal fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                        <div class="single-feature-2 mb-55">
                            <div class="feature-icon-2">
                                <img src="assets/img/icon/icon-3.png" alt="">
                            </div>
                            <div class="feature-content-2">
                                <h4 class="feature-content-title-2"><a href="service-details.html">Tenant Relations Portal</a>
                                </h4>
                                <p class="feature-content-desc-2">Foster a vibrant tenant community and manage all tenant communications centrally, enhancing satisfaction and retention.
                                </p>
                            </div>
                            <div class="feature-action-2">
                                <a href="service-details.html" class="icon-box-rounded">
                                    <i class="fal fa-arrow-right"></i>
                                    <i class="fal fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                        <div class="single-feature-2 mb-55">
                            <div class="feature-icon-2">
                                <img src="assets/img/icon/icon-3.png" alt="">
                            </div>
                            <div class="feature-content-2">
                                <h4 class="feature-content-title-2"><a href="service-details.html">Proactive Maintenance Organizer</a>
                                </h4>
                                <p class="feature-content-desc-2">Stay ahead of property upkeep with our proactive maintenance scheduler, ensuring your investments are always in top condition.</p>
                            </div>
                            <div class="feature-action-2">
                                <a href="service-details.html" class="icon-box-rounded">
                                    <i class="fal fa-arrow-right"></i>
                                    <i class="fal fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                        <div class="single-feature-2 mb-55">
                            <div class="feature-icon-2">
                                <img src="assets/img/icon/icon-3.png" alt="">
                            </div>
                            <div class="feature-content-2">
                                <h4 class="feature-content-title-2"><a href="service-details.html">Full Optimization</a>
                                </h4>
                                <p class="feature-content-desc-2">Only a quid victoria spong cack matie boy bum bag
                                    burke a blinding shot James bond pear.</p>
                            </div>
                            <div class="feature-action-2">
                                <a href="service-details.html" class="icon-box-rounded">
                                    <i class="fal fa-arrow-right"></i>
                                    <i class="fal fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <!-- feature area end -->
       
        <!-- cta area start -->
        <div class="cta-area cta-3-spacing pt-120 pb-110 mb-110 bg-default" data-bg-color="#663ae9"
            data-background="assets/img/bg/cta-1.png">
            <div class="container">
                <div class="cta-content">
                    <div class="row align-items-center">
                        <div class="col-xxl-6 col-xl-6 col-lg-8 col-md-8">
                            <h2 class="cta-title wow fadeInUp" data-wow-delay=".2s">The only one<br>
                                manager you need</h2>
                            <p class="cta-desc wow fadeInUp" data-wow-delay=".4s">Naff the little rotter have gutted
                                mate James cuppa baking legged.</p>
                        </div>
                        <div class="col-xxl-6 col-xl-6  col-lg-4 col-md-4">
                            <div class="cta-action text-md-end">
                                <a href="service-details.html" class="sasup-white-btn wow fadeInUp"
                                    data-wow-delay=".6s">Get Started For
                                    Free</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- cta area end -->
        
        <!-- team area start -->
        <div id="team" class="team-area pb-105">
            <div class="container">
                <div class="row mb-45">
                    <div class="col-xxl-12">
                        <div class="section-title-2 text-center">
                            <h3 class="s-title wow fadeInUp visile-br-lg" data-wow-delay=".2s">Meet our<br>
                                The team member</h3>
                            <p class="s-desc wow fadeInUp" data-wow-delay=".4s">Naff the little rotter have gutted mate
                                James cuppa
                                baking legged.</p>
                        </div>
                    </div>
                </div>
                <div class="row mb-45">
                    <div style="margin: 12px auto;" class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="single-team mb-30">
                            <div class="thumb"><img src="https://media-del1-2.cdn.whatsapp.net/v/t61.24694-24/317722064_221875090512884_7549091077818151145_n.jpg?ccb=11-4&oh=01_AdRKTLtHkFVZvcQIawTGVbi165RmOWZolvHZtfgzeNM2eg&oe=656999DD&_nc_sid=e6ed6c&_nc_cat=107" alt=""></div>
                            <div class="content text-center">
                                <div class="team-desc">
                                    <a href="team.html" class="job">Buisness Relations</a>
                                    <h5><a href="team-details.html" class="title">Shubham Godara</a></h5>
                                </div>
                                <div class="team-social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                    <a href="#"><i class="fab fa-vimeo-v"></i></a>
                                </div>
                            </div>
                        </div>
                    </div >
                    <!-- <div class="col-xxl-4 col-xl-4  col-lg-4 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".4s">
                        <div class="single-team mb-30">
                            <div class="thumb"><img src="assets/img/team/team-2.jpg" alt=""></div>
                            <div class="content text-center">
                                <div class="team-desc">
                                    <a href="team.html" class="job">Teacher</a>
                                    <h5><a href="team-details.html" class="title">Suraiya akter rika</a></h5>
                                </div>
                                <div class="team-social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                    <a href="#"><i class="fab fa-vimeo-v"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4  col-xl-4  col-lg-4 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".6s">
                        <div class="single-team mb-30">
                            <div class="thumb"><img src="assets/img/team/team-3.jpg" alt=""></div>
                            <div class="content text-center">
                                <div class="team-desc">
                                    <a href="team.html" class="job">Designer</a>
                                    <h5><a href="team-details.html" class="title">Malcolm Function</a></h5>
                                </div>
                                <div class="team-social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                    <a href="#"><i class="fab fa-vimeo-v"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
               
            </div>
        </div>
        <!-- team area end -->
        <!-- counterup area start -->
        <div class="counterup-area pb-110">
            <div class="container">
                <div class="row counter-row">
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="counter-box mb-30 counter-style-1 text-center">
                            <div class="icon">
                                <i class="fal fa-user"></i>
                            </div>
                            <div class="content">
                                <h3 class="counter-count"><span class="counter">93</span>k</h3>
                                <h4 class="counter-title">Happy Clients</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6  col-sm-6 wow fadeInUp" data-wow-delay=".4s">
                        <div class="counter-box mb-30 counter-style-2 text-center">
                            <div class="icon">
                                <i class="fal fa-download"></i>
                            </div>
                            <div class="content">
                                <h3 class="counter-count"><span class="counter">37</span>k</h3>
                                <h4 class="counter-title">Download</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6  col-sm-6 wow fadeInUp" data-wow-delay=".6s">
                        <div class="counter-box mb-30 counter-style-3 text-center">
                            <div class="icon">
                                <i class="fal fa-download"></i>
                            </div>
                            <div class="content">
                                <h3 class="counter-count"><span class="counter">52</span>+</h3>
                                <h4 class="counter-title">Support Done</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".8s">
                        <div class="counter-box mb-30 counter-style-4 text-center">
                            <div class="icon">
                                <i class="fal fa-download"></i>
                            </div>
                            <div class="content">
                                <h3 class="counter-count"><span class="counter">80</span>+</h3>
                                <h4 class="counter-title">Our User</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- counterup area end -->
        <div id="faq" class="faq-area pb-130">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-5 col-xl-5 col-lg-5">
                        <div class="faq-left mb-50 mb-lg-0">
                            <div class="section-title mb-35">
                                <span class="sasup-s-subtitle wow fadeInUp" data-color="#ff4e80">Stay Connected</span>
                                <h3 class="sasup-s-title wow fadeInUp" data-wow-delay=".2s">Frequently<br>
                                    Asked questions.</h3>
                                <p class="sasup-s-desc wow fadeInUp" data-wow-delay=".4s">Lorem ipsum dolor sit
                                    consectetur adipiscing elit Suspendisse
                                    varius
                                    enim.</p>
                            </div>
                            <div class="support-sm-team-thumbs wow fadeInUp" data-wow-delay=".6s">
                                <span class="support-sm-team-label">Support Team</span>
                                <div class="support-sm-team-thumb-group">
                                    <div class="single-support-sm-thumb">
                                        <img src="assets/img/faq/user-1.png" alt="">
                                    </div>
                                    <div class="single-support-sm-thumb">
                                        <img src="assets/img/faq/user-2.png" alt="">
                                    </div>
                                    <div class="single-support-sm-thumb">
                                        <img src="assets/img/faq/user-3.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-7 col-xl-7  col-lg-7">
                        <div class="faq-breadcrumb">
                            <div class="accordion" id="accordionExample">
                                <div class="sasup-accordion-item sasup-active-item">
                                    <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                        aria-expanded="true">
                                        1. Can I use Revolution Slider as Feautered Section?
                                    </button>
                                    <div id="collapseOne" class="collapse show" data-bs-parent="#accordionExample">
                                        <div class="sasup-accordion-desc">
                                            <p>The wireless horse play it's all gone to pot that down the pub bleeder
                                                William A
                                                bit of how's your father, me old mucker bum bag he nicked it gutted mate
                                                squiffy
                                                pardon you up the kyver blag.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="sasup-accordion-item">
                                    <button class="collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        2. You’ll have everything you’ll need?
                                    </button>
                                    <div id="collapseTwo" class="collapse" data-bs-parent="#accordionExample">
                                        <div class="sasup-accordion-desc">
                                            <p>The wireless horse play it's all gone to pot that down the pub bleeder
                                                William A
                                                bit of how's your father, me old mucker bum bag he nicked it gutted mate
                                                squiffy
                                                pardon you up the kyver blag.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="sasup-accordion-item">
                                    <button class="collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        3. Support deals with more satisfied customers?
                                    </button>
                                    <div id="collapseThree" class="collapse" data-bs-parent="#accordionExample">
                                        <div class="sasup-accordion-desc">
                                            <p>The wireless horse play it's all gone to pot that down the pub bleeder
                                                William A
                                                bit of how's your father, me old mucker bum bag he nicked it gutted mate
                                                squiffy
                                                pardon you up the kyver blag.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="sasup-accordion-item">
                                    <button class="collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                        3. Support deals with more satisfied customers?
                                    </button>
                                    <div id="collapseFour" class="collapse" data-bs-parent="#accordionExample">
                                        <div class="sasup-accordion-desc">
                                            <p>The wireless horse play it's all gone to pot that down the pub bleeder
                                                William A
                                                bit of how's your father, me old mucker bum bag he nicked it gutted mate
                                                squiffy
                                                pardon you up the kyver blag.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('footer'); -%>
    <!-- back to top start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- back to top end -->

    

    <!-- JS here -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/swipper-bundle.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.meanmenu.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/jquery.scrollUp.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/ajax-form.js"></script>
    <script src="assets/js/mouse-wheel.min.js"></script>
    <script src="assets/js/appair.min.js"></script>
    <script src="assets/js/odometer.min.js"></script>
    <script src="assets/js/back-to-top.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>


</html>