<nav class="sidebar-nav scroll-sidebar" data-simplebar>
    <ul id="sidebarnav">
      <!-- ============================= -->
      <!-- Home -->
      <!-- ============================= -->
      <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">Home</span>
      </li>
      <!-- =================== -->
      <!-- Dashboard -->
      <!-- =================== -->
      <li class="sidebar-item ">
        <a class="sidebar-link" href="/dashboard/admin-dashboard" aria-expanded="false">
          <span>
            <i class="ti ti-coin-rupee"></i>
          </span>
          <span class="hide-menu">Home</span>
        </a>
      </li>
      
      
      <li class="sidebar-item">
        <a class="sidebar-link has-arrow" href="#" aria-expanded="false">
          <span class="d-flex">
            <i class="ti ti-box-multiple"></i>
          </span>
          <span class="hide-menu">Properties</span>
        </a>
        <ul aria-expanded="false" class="collapse first-level">
          <li class="sidebar-item">
            <a href="/dashboard/admin-dashboard/my-properties" class="sidebar-link">
              <div class="round-16 d-flex align-items-center justify-content-center">
                <i class="ti ti-circle"></i>
              </div>
              <span class="hide-menu">My Properties</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a href="/dashboard/admin-dashboard/add-property" class="sidebar-link">
              <div class="round-16 d-flex align-items-center justify-content-center">
                <i class="ti ti-circle"></i>
              </div>
              <span class="hide-menu">Add Properties</span>
            </a>
          </li>
          
        </ul>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link has-arrow " href="#" aria-expanded="false">
          <span class="d-flex">
            <i class="ti ti-box-multiple"></i>
          </span>
          <span class="hide-menu">Tenants</span>
        </a>
        <ul aria-expanded="false" class="collapse first-level">
          <li class="sidebar-item">
            <a href="/dashboard/admin-dashboard/my-tenants" class="sidebar-link">
              <div class="round-16 d-flex align-items-center justify-content-center">
                <i class="ti ti-circle"></i>
              </div>
              <span class="hide-menu">My Tenants</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a href="/dashboard/admin-dashboard/add-tenant" class="sidebar-link">
              <div class="round-16 d-flex align-items-center justify-content-center">
                <i class="ti ti-circle"></i>
              </div>
              <span class="hide-menu">Add Tenants</span>
            </a>
          </li>
          
        </ul>
      </li>
      <!-- <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/admin-dashboard/add-rooms" aria-expanded="false">
          <span>
            <i class="ti ti-file-report"></i>
          </span>
          <span class="hide-menu">Add Rooms</span>
        </a>
      </li> -->
      <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/admin-dashboard/manage-groups" aria-expanded="false">
          <span>
            <i class="ti ti-file-description"></i>
          </span>
          <span class="hide-menu">Manage Groups</span>
        </a>
      </li>
      <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">Maintenance</span>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/admin-dashboard/tenant-messages" aria-expanded="false">
          <span>
            <i class="ti ti-basket-filled"></i>
          </span>
          <span class="hide-menu">Tenant Messages</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="/shop" aria-expanded="false">
          <span>
            <i class="ti ti-basket-filled"></i>
          </span>
          <span class="hide-menu">Tenant Messages</span>
        </a>
      </li>
     







    </ul>
    <!-- <div class="unlimited-access hide-menu bg-light-primary position-relative my-7 rounded">
      <div class="d-flex">
        <div class="unlimited-access-title">
          <h6 class="fw-semibold fs-4 mb-6 text-dark w-85">Unlimited Access</h6>
          <button class="btn btn-primary fs-2 fw-semibold lh-sm">Signup</button>
        </div>
        <div class="unlimited-access-img">
          <img src="/dashboard/dist/images/backgrounds/rocket.png" alt="" class="img-fluid">
        </div>
      </div>
    </div> -->
  </nav>