<nav class="sidebar-nav scroll-sidebar" data-simplebar>
    <ul id="sidebarnav">
      <!-- ============================= -->
      <!-- Home -->
      <!-- ============================= -->
      <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">Home</span>
      </li>
      <!-- =================== -->
      <!-- Dashboard -->
      <!-- =================== -->
      <li class="sidebar-item ">
        <a class="sidebar-link" href="/dashboard/user-dashboard" aria-expanded="false">
          <span>
            <i class="ti ti-coin-rupee"></i>
          </span>
          <span class="hide-menu">Services</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/user-dashboard/file-complaint" aria-expanded="false">
          <span>
            <i class="ti ti-file-report"></i>
          </span>
          <span class="hide-menu">File Complaint</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/user-dashboard/property-details" aria-expanded="false">
          <span>
            <i class="ti ti-file-description"></i>
          </span>
          <span class="hide-menu">Property Details</span>
        </a>
      </li>
      <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">Others</span>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="/shop" aria-expanded="false">
          <span>
            <i class="ti ti-basket-filled"></i>
          </span>
          <span class="hide-menu">Shop</span>
        </a>
      </li>
     







    </ul>
    <!-- <div class="unlimited-access hide-menu bg-light-primary position-relative my-7 rounded">
      <div class="d-flex">
        <div class="unlimited-access-title">
          <h6 class="fw-semibold fs-4 mb-6 text-dark w-85">Unlimited Access</h6>
          <button class="btn btn-primary fs-2 fw-semibold lh-sm">Signup</button>
        </div>
        <div class="unlimited-access-img">
          <img src="/dashboard/dist/images/backgrounds/rocket.png" alt="" class="img-fluid">
        </div>
      </div>
    </div> -->
  </nav>