<!DOCTYPE html>
<html lang="en">
  
<head>
    <!--  Title -->
    <title>Mordenize</title>
    <!--  Required Meta Tag -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="handheldfriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="description" content="Mordenize" />
    <meta name="author" content="" />
    <meta name="keywords" content="Mordenize" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--  Favicon -->
    <link rel="shortcut icon" type="image/png" href="/dashboard/dist/images/logos/favicon.png" />
    <!-- Core Css -->
    <link  id="themeColors"  rel="stylesheet" href="/dashboard/dist/css/style.min.css" />
  </head>
  <body>
    <!-- Preloader -->
    <div class="preloader">
      <img src="/dashboard/dist/images/logos/favicon.png" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <!-- Preloader -->
    <div class="preloader">
      <img src="/dashboard/dist/images/logos/favicon.png" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <!-- Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
      <!-- Sidebar Start -->
      <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div>
          <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="/" class="text-nowrap logo-img">
              <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/logos/dark-logo.svg" class="dark-logo" width="180" alt="" />
              <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/logos/light-logo.svg" class="light-logo"  width="180" alt="" />
            </a>
            <div class="close-btn d-lg-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
              <i class="ti ti-x fs-8"></i>
            </div>
          </div>
          <!-- Sidebar navigation-->
         <%- include('components/sidenav') %>
          <div class="fixed-profile p-3 bg-light-secondary rounded sidebar-ad mt-3">
            <div class="hstack gap-3">
              <div class="john-img">
                <img src="/dashboard/dist/images/profile/user-1.jpg" class="rounded-circle" width="40" height="40" alt="">
              </div>
              <div class="john-title">
                <h6 class="mb-0 fs-4 fw-semibold">Mathew</h6>
                <span class="fs-2 text-dark">Designer</span>
              </div>
              <button class="border-0 bg-transparent text-primary ms-auto" tabindex="0" type="button" aria-label="logout" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="logout">
                <i class="ti ti-power fs-6"></i>
              </button>
            </div>
          </div>  
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside>
      <!-- Sidebar End -->
      <!-- Main wrapper -->
      <div class="body-wrapper">
        <!-- Header Start -->
        <%- include('components/header') %>
        <!-- Header End -->
        <div class="container-fluid">
          <%- include('components/banner-others') %>
        <div class="row"> 
          <div class="col-12">
            <div class="card">
              <div class="px-4 py-3 border-bottom">
                <h5 class="card-title fw-semibold mb-0">Add Your Building</h5>
              </div>
              <div class="card-body p-4 border-bottom">
                <!-- <h5 class="fs-4 fw-semibold mb-4">Account Details</h5> -->
                <form action="/api/admin/addBuilding" method="post" enctype="multipart/form-data">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="mb-4">
                        <label for="exampleInputPassword1" class="form-label fw-semibold">Name</label>
                        <input type="text" class="form-control" id="exampleInputtext" placeholder="Name" name="name">
                      </div>
                    </div>
                    <div class=" col-lg-6">
                      <div class="mb-4">
                      <label for="exampleInputPassword1" class="form-label fw-semibold">Images</label>
                      <input class="form-control" type="file" id="formFile" name="images" multiple>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="mb-4">
                      <label for="exampleInputPassword1" class="form-label fw-semibold">Owner</label>
                      <input type="text" class="form-control" id="exampleInputtext" placeholder="Owner's name" name="owner">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="mb-4">
                      <label for="exampleInputPassword1" class="form-label fw-semibold">Caretaker</label>
                      <input type="text" class="form-control" id="exampleInputtext" placeholder="Caretaker's name" name="caretaker">
                    </div>
                  </div>
                    <div class=" col-lg-6">
                      <div class="mb-4">
                      <label for="exampleInputPassword1" class="form-label fw-semibold">Address</label>
                      <textarea class="form-control p-7" name="address" id="" cols="20" rows="1" placeholder="Appartment Name - City - State - Country"></textarea>
                      </div>
                  </div>
                  <div class=" col-lg-6">
                    <div class="mb-4">
                    <label for="exampleInputPassword1" class="form-label fw-semibold">Description</label>
                    <textarea class="form-control p-7" name="description" id="" cols="20" rows="1" placeholder="Enter Description"></textarea>
                    </div>
                </div>
                <div class="col-lg-6">
                  <button
                          class="btn me-1 mb-1 btn-outline-primary btn-lg px-4 fs-4 font-medium"
                          data-bs-toggle="modal"
                          data-bs-target="#bs-example-modal-md"
                          type="button"
                        >
                          Add Rooms
                  </button>
                        <!-- sample modal content -->
                        <div
                          class="modal fade"
                          id="bs-example-modal-md"
                          tabindex="-1"
                          aria-labelledby="bs-example-modal-md"
                          aria-hidden="true"
                          data-bs-backdrop="static" data-bs-keyboard="false" 
                        >
                          <div class="modal-dialog modal-md">
                            <div class="modal-content">
                              <div
                                class="modal-header d-flex align-items-center"
                              >
                                <h4 class="modal-title" id="myLargeModalLabel">
                                  Add Rooms
                                </h4>
                                <button
                                  type="button"
                                  class="btn-close"
                                  data-bs-dismiss="modal"
                                  aria-label="Close"
                                ></button>
                              </div>
                              <div class="modal-body">
                                <div class="row"> 
                                  <div class="col-12">
                                    <div class="card">
                                      <div class="px-4 py-3 border-bottom row">
                                        <h5 class="card-title fw-semibold mb-0 col-8">Add Rooms To Your Building</h5>
                                        <div class="add-button-group col-4">
                                          <button type="button" class="btn mb-1 btn-secondary btn-circle total-rooms">
                                            1
                                          </button>
                                          <button id="add-btn" type="button" class="btn btn-primary add-room ">+</button>
                                        </div>

                                      </div>
                                      <div class="card-body p-4 border-bottom">
                                        <!-- <h5 class="fs-4 fw-semibold mb-4">Account Details</h5> -->
                                          <div class="row">
                                            <div class="col-lg-12">
                                              
                                              <div class="inputs-container">
                                              <div class="input-group" id="original">
                                                  <span class="input-group-text">RoomNo.,Rent,Security</span>
                                                  <input type="text" class="form-control">
                                                  <input type="text" class="form-control">
                                                  <input type="text" class="form-control">
                                                  <!-- <button id="add-btn" type="button" class="btn btn-primary add-room">+</button> -->
                        
                                                </div>
                                              </div>
                                              
                                            <!-- <div class="mb-4">
                                            <label for="exampleInputPassword1" class="form-label fw-semibold">Description</label>
                                            <textarea class="form-control p-7" name="description" id="" cols="20" rows="1" placeholder="Enter Rooms"></textarea>
                                            <small id="textHelp" class="badge badge-default text-info font-small bg-light-info form-text">Add rooms like <br> 10@6000&3000 this will add 10 rooms with 6000rs rent and 3000rs security</small>
                                            
                                        </div> -->
                                        
                                        <!-- <div class="ms-auto mt-3 mt-md-3">
                                          <button type="submit" class="btn btn-info font-medium rounded-pill px-4">
                                            <div class="d-flex align-items-center">
                                              <i class="ti ti-send me-2 fs-4"></i>
                                              Submit
                                            </div>
                                          </button>
                                        </div> -->
                        
                                        </div>
                                          </div>
                                        
                                      </div>
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button
                                  type="button"
                                  class="btn btn-primary  font-medium waves-effect text-start"
                                  data-bs-dismiss="modal"
                                >
                                  Add
                                </button>
                              </div>
                            </div>
                            <!-- /.modal-content -->
                          </div>
                          <!-- /.modal-dialog -->
                        </div>
                

                  <button class="btn btn-primary btn-lg px-4 fs-4 font-medium mb-1" type="submit">Submit</button>
                </div>
                  </div>
                </form>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  Shopping Cart -->
   
    <!--  Mobilenavbar -->
    
    <!-- Search Bar -->
   
    <!-- Customizer -->
   <button class="btn btn-primary p-3 rounded-circle d-flex align-items-center justify-content-center customizer-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    <i class="ti ti-settings fs-7" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Settings"></i>
  </button>
  <div class="offcanvas offcanvas-end customizer" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" data-simplebar="">
    <div class="d-flex align-items-center justify-content-between p-3 border-bottom">
      <h4 class="offcanvas-title fw-semibold" id="offcanvasExampleLabel">Settings</h4>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-4">
      <div class="theme-option pb-4">
        <h6 class="fw-semibold fs-4 mb-1">Theme Option</h6>
        <div class="d-flex align-items-center gap-3 my-3">
          <a href="javascript:void(0)"  onclick="toggleTheme('/dashboard/dist/css/style.min.css')"  class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 light-theme text-dark">
            <i class="ti ti-brightness-up fs-7 text-primary"></i>
            <span class="text-dark">Light</span>
          </a>
          <a href="javascript:void(0)" onclick="toggleTheme('/dashboard/dist/css/style-dark.min.css')" class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 dark-theme text-dark">
            <i class="ti ti-moon fs-7 "></i>
            <span class="text-dark">Dark</span>
          </a>
        </div>
      </div>
      
      <div class="theme-colors pb-4">
        <h6 class="fw-semibold fs-4 mb-1">Theme Colors</h6>
        <div class="d-flex align-items-center gap-3 my-3">
          <ul class="list-unstyled mb-0 d-flex gap-3 flex-wrap change-colors">
            <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
              <a href="javascript:void(0)" class="rounded-circle position-relative d-block customizer-bgcolor skin1-bluetheme-primary active-theme " onclick="toggleTheme('/dashboard/dist/css/style.min.css')"  data-color="blue_theme" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="BLUE_THEME"><i class="ti ti-check text-white d-flex align-items-center justify-content-center fs-5"></i></a>
            </li>
            <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
              <a href="javascript:void(0)"  class="rounded-circle position-relative d-block customizer-bgcolor skin2-aquatheme-primary " onclick="toggleTheme('/dashboard/dist/css/style-aqua.min.css')"  data-color="aqua_theme" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="AQUA_THEME"><i class="ti ti-check  text-white d-flex align-items-center justify-content-center fs-5"></i></a>
            </li>
            <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
              <a href="javascript:void(0)" class="rounded-circle position-relative d-block customizer-bgcolor skin3-purpletheme-primary" onclick="toggleTheme('/dashboard/dist/css/style-purple.min.css')"  data-color="purple_theme" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="PURPLE_THEME"><i class="ti ti-check  text-white d-flex align-items-center justify-content-center fs-5"></i></a>
            </li>
            <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
              <a href="javascript:void(0)" class="rounded-circle position-relative d-block customizer-bgcolor skin4-greentheme-primary" onclick="toggleTheme('/dashboard/dist/css/style-green.min.css')"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="GREEN_THEME"><i class="ti ti-check  text-white d-flex align-items-center justify-content-center fs-5"></i></a>
            </li>
            <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
              <a href="javascript:void(0)" class="rounded-circle position-relative d-block customizer-bgcolor skin5-cyantheme-primary" onclick="toggleTheme('/dashboard/dist/css/style-cyan.min.css')"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="CYAN_THEME"><i class="ti ti-check  text-white d-flex align-items-center justify-content-center fs-5"></i></a>
            </li>
            <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
              <a href="javascript:void(0)" class="rounded-circle position-relative d-block customizer-bgcolor skin6-orangetheme-primary" onclick="toggleTheme('/dashboard/dist/css/style-orange.min.css')"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="ORANGE_THEME"><i class="ti ti-check  text-white d-flex align-items-center justify-content-center fs-5"></i></a>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="container-option pb-4">
        <h6 class="fw-semibold fs-4 mb-1">Container Option</h6>
        <div class="d-flex align-items-center gap-3 my-3">
          <a href="javascript:void(0)" class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 boxed-width text-dark">              
            <i class="ti ti-layout-distribute-vertical fs-7 text-primary"></i>
            <span class="text-dark">Boxed</span>
          </a>
          <a href="javascript:void(0)" class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 full-width text-dark">
            <i class="ti ti-layout-distribute-horizontal fs-7"></i>
            <span class="text-dark">Full</span>
          </a>
        </div>
      </div>
      <div class="sidebar-type pb-4">
        <h6 class="fw-semibold fs-4 mb-1">Sidebar Type</h6>
        <div class="d-flex align-items-center gap-3 my-3">
          <a  href="javascript:void(0)" class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 fullsidebar">              
            <i class="ti ti-layout-sidebar-right fs-7"></i>
            <span class="text-dark">Full</span>
          </a>
          <a  href="javascript:void(0)" class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center text-dark sidebartoggler gap-2">
            <i class="ti ti-layout-sidebar fs-7"></i>
            <span class="text-dark">Collapse</span>
          </a>
        </div>
      </div>
      <div class="card-with pb-4">
        <h6 class="fw-semibold fs-4 mb-1">Card With</h6>
        <div class="d-flex align-items-center gap-3 my-3">
          <a href="javascript:void(0)" class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 text-dark cardborder">              
            <i class="ti ti-border-outer fs-7"></i>
            <span class="text-dark">Border</span>
          </a>
          <a href="javascript:void(0)" class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 cardshadow">
            <i class="ti ti-border-none fs-7"></i>
            <span class="text-dark">Shadow</span>
          </a>
        </div>
      </div>
    </div>
  </div>
        <!-- Customizer -->
    <!-- Import Js Files -->
    <script src="/dashboard/dist/libs/jquery/dist/jquery.min.js"></script>
    <script src="/dashboard/dist/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="/dashboard/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- core files -->
    <script src="/dashboard/dist/js/app.min.js"></script>
    <script src="/dashboard/dist/js/app.init.js"></script>
    <script src="/dashboard/dist/js/app-style-switcher.js"></script>
    <script src="/dashboard/dist/js/sidebarmenu.js"></script>
    <script src="/dashboard/dist/js/custom.js"></script>
    <!-- current page js files -->
    <script src="/dashboard/dist/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="/dashboard/dist/js/dashboard5.js"></script>
    <script src="/dashboard/dist/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="/dashboard/dist/libs/select2/dist/js/select2.min.js"></script>
    <script src="/dashboard/dist/js/forms/select2.init.js"></script>

    <script>
      $(document).ready(function () {
          $('.add-room').click(function () {
              // Clone the original input-group
              let original = $('#original')
              var clonedInputGroup = original.clone(true, true);
              original.removeAttr('id');
              var totalRooms = parseInt($('.total-rooms').text());
              totalRooms++;
              $('.total-rooms').text(totalRooms);
            // alert("hi")
            //   // Remove the ID from the cloned input-group to avoid duplicate IDs
            //   clonedInputGroup
              // Append the cloned input-group to the container
              $('.inputs-container').append(clonedInputGroup);
              // $('.add-room').not('.add-room:last').remove();
              

              // Move the + button to the last added duplication
              
          });
      });
  </script>
  </body>

</html>