<!DOCTYPE html>
<html lang="en">
  
<head>
    <!--  Title -->
    <title>Mordenize</title>
    <!--  Required Meta Tag -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="handheldfriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="description" content="Mordenize" />
    <meta name="author" content="" />
    <meta name="keywords" content="Mordenize" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--  Favicon -->
    <link rel="shortcut icon" type="image/png" href="/dashboard/dist/images/logos/favicon.png" />
    <!-- Core Css -->
    <link  id="themeColors"  rel="stylesheet" href="/dashboard/dist/css/style.min.css" />
  </head>
  <body>
    <!-- Preloader -->
    <div class="preloader">
      <img src="/dashboard/dist/images/logos/favicon.png" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <!-- Preloader -->
    <div class="preloader">
      <img src="/dashboard/dist/images/logos/favicon.png" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <!-- Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
      <!-- Sidebar Start -->
      <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div>
          <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="/" class="text-nowrap logo-img">
              <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/logos/dark-logo.svg" class="dark-logo" width="180" alt="" />
              <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/logos/light-logo.svg" class="light-logo"  width="180" alt="" />
            </a>
            <div class="close-btn d-lg-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
              <i class="ti ti-x fs-8"></i>
            </div>
          </div>
          <!-- Sidebar navigation-->
         <%- include('components/sidenav') %>
          <div class="fixed-profile p-3 bg-light-secondary rounded sidebar-ad mt-3">
            <div class="hstack gap-3">
              <div class="john-img">
                <img src="/dashboard/dist/images/profile/user-1.jpg" class="rounded-circle" width="40" height="40" alt="">
              </div>
              <div class="john-title">
                <h6 class="mb-0 fs-4 fw-semibold">Mathew</h6>
                <span class="fs-2 text-dark">Designer</span>
              </div>
              <button class="border-0 bg-transparent text-primary ms-auto" tabindex="0" type="button" aria-label="logout" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="logout">
                <i class="ti ti-power fs-6"></i>
              </button>
            </div>
          </div>  
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside>
      <!-- Sidebar End -->
      <!-- Main wrapper -->
      <div class="body-wrapper">
        <!-- Header Start -->
        <%- include('components/header') %>
        <!-- Header End -->
        <div class="container-fluid">
          <%- include('components/banner-others') %>
        <div class="row"> 
          <div class="col-12">
            <div class="card overflow-hidden chat-application">
                <div class="d-flex align-items-center justify-content-between gap-3 m-3 d-lg-none">
                  <button class="btn btn-primary d-flex" type="button" data-bs-toggle="offcanvas" data-bs-target="#chat-sidebar" aria-controls="chat-sidebar">
                    <i class="ti ti-menu-2 fs-5"></i>
                  </button>
                  <form class="position-relative w-100">
                    <input type="text" class="form-control search-chat py-2 ps-5" id="text-srh" placeholder="Search Contact">
                    <i class="ti ti-search position-absolute top-50 start-0 translate-middle-y fs-6 text-dark ms-3"></i>
                  </form>
                </div>
                <div class="d-flex w-100">
                  
                  <div class="d-flex w-100">
                    <div class="min-width-340">
                      <div class="border-end user-chat-box h-100">
                        <div class="px-4 pt-9 pb-6 d-none d-lg-block">
                          <form class="position-relative">
                            <input type="text" class="form-control search-chat py-2 ps-5" id="text-srh" placeholder="Search" />
                            <i class="ti ti-search position-absolute top-50 start-0 translate-middle-y fs-6 text-dark ms-3"></i>
                          </form>
                        </div>
                        <div class="app-chat">
                          <ul class="chat-users" style="height: calc(100vh - 400px)" data-simplebar>
                            <li>
                              <a href="javascript:void(0)" class="px-4 py-3 bg-hover-light-black d-flex align-items-center chat-user bg-light" id="chat_user_1" data-user-id="1">
                                <span class="position-relative">
                                  <img src="/dashboard/dist/images/profile/user-4.jpg" alt="user-4" width="40" height="40" class="rounded-circle">
                                </span>
                                <div class="ms-6 d-inline-block w-75">
                                  <h6 class="mb-1 fw-semibold chat-title" data-username="James Anderson">Dr. Bonnie Barstow </h6>
                                  <span class="fs-2 text-body-color d-block">barstow@ modernize.com</span>
                                </div>
                              </a>
                            </li>
                            <li>
                              <a href="javascript:void(0)" class="px-4 py-3 bg-hover-light-black d-flex align-items-center chat-user" id="chat_user_2" data-user-id="2">
                                <span class="position-relative">
                                  <img src="/dashboard/dist/images/profile/user-4.jpg" alt="user4" width="40" height="40" class="rounded-circle">
                                </span>
                                <div class="ms-6 d-inline-block w-75">
                                  <h6 class="mb-1 fw-semibold chat-title" data-username="James Anderson">Jonathan Higgins</h6>
                                  <span class="fs-2 text-body-color d-block">jonathan_hig@modernize.com</span>
                                </div>
                              </a>
                            </li>
                            <li>
                              <a href="javascript:void(0)" class="px-4 py-3 bg-hover-light-black d-flex align-items-center chat-user" id="chat_user_3" data-user-id="3">
                                <span class="position-relative">
                                  <img src="/dashboard/dist/images/profile/user-3.jpg" alt="user3" width="40" height="40" class="rounded-circle">
                                </span>
                                <div class="ms-6 d-inline-block w-75">
                                  <h6 class="mb-1 fw-semibold chat-title" data-username="James Anderson">Michael Knight </h6>
                                  <span class="fs-2 text-body-color d-block">michale-knight@gmail.com</span>
                                </div>
                              </a>
                            </li>
                            <li>
                              <a href="javascript:void(0)" class="px-4 py-3 bg-hover-light-black d-flex align-items-center chat-user" id="chat_user_4" data-user-id="4">
                                <span class="position-relative">
                                  <img src="/dashboard/dist/images/profile/user-8.jpg" alt="user8" width="40" height="40" class="rounded-circle">
                                </span>
                                <div class="ms-6 d-inline-block w-75">
                                  <h6 class="mb-1 fw-semibold chat-title" data-username="James Anderson">Angus MacGyver</h6>
                                  <span class="fs-2 text-body-color d-block">macgyver@gmail.com</span>
                                </div>
                              </a>
                            </li>
                            <li>
                              <a href="javascript:void(0)" class="px-4 py-3 bg-hover-light-black d-flex align-items-center chat-user" id="chat_user_5" data-user-id="5">
                                <span class="position-relative">
                                  <img src="/dashboard/dist/images/profile/user-2.jpg" alt="user2" width="40" height="40" class="rounded-circle">
                                </span>
                                <div class="ms-6 d-inline-block w-75">
                                  <h6 class="mb-1 fw-semibold chat-title" data-username="James Anderson">Rick Wright</h6>
                                  <span class="fs-2 text-body-color d-block">rockwright@modernize.com</span>
                                </div>
                              </a>
                            </li>
                            <li>
                              <a href="javascript:void(0)" class="px-4 py-3 bg-hover-light-black d-flex align-items-center chat-user" id="chat_user_6" data-user-id="6">
                                <span class="position-relative">
                                  <img src="/dashboard/dist/images/profile/user-1.jpg" alt="user1" width="40" height="40" class="rounded-circle">
                                </span>
                                <div class="ms-6 d-inline-block w-75">
                                  <h6 class="mb-1 fw-semibold chat-title" data-username="James Anderson">Sledge Hammer</h6>
                                  <span class="fs-2 text-body-color d-block">hammer9@gmail.com</span>
                                </div>
                              </a>
                            </li>
                            <li>
                              <a href="javascript:void(0)" class="px-4 py-3 bg-hover-light-black d-flex align-items-center chat-user" id="chat_user_7" data-user-id="7">
                                <span class="position-relative">
                                  <img src="/dashboard/dist/images/profile/user-3.jpg" alt="user3" width="40" height="40" class="rounded-circle">
                                </span>
                                <div class="ms-6 d-inline-block w-75">
                                  <h6 class="mb-1 fw-semibold chat-title" data-username="James Anderson">Peter Thornton</h6>
                                  <span class="fs-2 text-body-color d-block">peter293@modernize.com</span>
                                </div>
                              </a>
                            </li>
                            <li>
                              <a href="javascript:void(0)" class="px-4 py-3 bg-hover-light-black d-flex align-items-center chat-user" id="chat_user_8" data-user-id="8">
                                <span class="position-relative">
                                  <img src="/dashboard/dist/images/profile/user-1.jpg" alt="user1" width="40" height="40" class="rounded-circle">
                                </span>
                                <div class="ms-6 d-inline-block w-75">
                                  <h6 class="mb-1 fw-semibold chat-title" data-username="James Anderson">Devon Miles</h6>
                                  <span class="fs-2 text-body-color d-block">devon@gmail.com</span>
                                </div>
                              </a>
                            </li>
                            <li>
                              <a href="javascript:void(0)" class="px-4 py-3 bg-hover-light-black d-flex align-items-center chat-user" id="chat_user_9" data-user-id="9">
                                <span class="position-relative">
                                  <img src="/dashboard/dist/images/profile/user-1.jpg" alt="user1" width="40" height="40" class="rounded-circle">
                                </span>
                                <div class="ms-6 d-inline-block w-75">
                                  <h6 class="mb-1 fw-semibold chat-title" data-username="James Anderson">Michael Knight</h6>
                                  <span class="fs-2 text-body-color d-block">michael_knight@modernize.com</span>
                                </div>
                              </a>
                            </li>
                            <li>
                              <a href="javascript:void(0)" class="px-4 py-3 bg-hover-light-black d-flex align-items-center chat-user" id="chat_user_10" data-user-id="10">
                                <span class="position-relative">
                                  <img src="/dashboard/dist/images/profile/user-1.jpg" alt="user1" width="40" height="40" class="rounded-circle">
                                </span>
                                <div class="ms-6 d-inline-block w-75">
                                  <h6 class="mb-1 fw-semibold chat-title" data-username="James Anderson">Mike Torello</h6>
                                  <span class="fs-2 text-body-color d-block">torello@gmail.com</span>
                                </div>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="w-100">
                      <div class="chat-container h-100 w-100">
                        <div class="chat-box-inner-part h-100">
                          <div class="chatting-box app-email-chatting-box">
                            <div class="p-9 py-3 border-bottom chat-meta-user d-flex align-items-center justify-content-between">
                              <h5 class="text-dark mb-0 fw-semibold">Contact Details</h5>
                              <ul class="list-unstyled mb-0 d-flex align-items-center">
                                <li class="d-lg-none d-block">
                                  <a class="text-dark back-btn px-2 fs-5 bg-hover-primary nav-icon-hover position-relative z-index-5" href="javascript:void(0)">
                                    <i class="ti ti-arrow-left"></i>
                                  </a>
                                </li>
                                <li class="position-relative" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="important">
                                  <a class="text-dark px-2 fs-5 bg-hover-primary nav-icon-hover position-relative z-index-5" href="javascript:void(0)">
                                    <i class="ti ti-star"></i>
                                  </a>
                                </li>
                                <li class="position-relative" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit">
                                  <a class="d-block text-dark px-2 fs-5 bg-hover-primary nav-icon-hover position-relative z-index-5" href="javascript:void(0)">
                                    <i class="ti ti-pencil"></i>
                                  </a>
                                </li>
                                <li class="position-relative" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Delete">
                                  <a class="text-dark px-2 fs-5 bg-hover-primary nav-icon-hover position-relative z-index-5" href="javascript:void(0)">
                                    <i class="ti ti-trash"></i>
                                  </a>
                                </li>
                              </ul>
                            </div>
                            <div class="position-relative overflow-hidden">
                              <div class="position-relative">
                                <div class="chat-box p-9" style="height: calc(100vh - 428px)" data-simplebar>
                                  <div class="chat-list chat active-chat" data-user-id="1">
                                    <div class="hstack align-items-start mb-7 pb-1 align-items-center justify-content-between">
                                      <div class="d-flex align-items-center gap-3">
                                        <img src="/dashboard/dist/images/profile/user-4.jpg" alt="user4" width="72" height="72" class="rounded-circle" />
                                        <div>
                                          <h6 class="fw-semibold fs-4 mb-0">Dr. Bonnie Barstow </h6>
                                          <p class="mb-0">Sales Manager</p>
                                          <p class="mb-0">Digital Arc Pvt. Ltd.</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-4 mb-7">
                                        <p class="mb-1 fs-2">Phone number</p>
                                        <h6 class="fw-semibold mb-0">+1 (203) 3458</h6>
                                      </div>
                                      <div class="col-8 mb-7">
                                        <p class="mb-1 fs-2">Email address</p>
                                        <h6 class="fw-semibold mb-0">alexandra@modernize.com</h6>
                                      </div>
                                      <div class="col-12 mb-9">
                                        <p class="mb-1 fs-2">Address</p>
                                        <h6 class="fw-semibold mb-0">312, Imperical Arc, New western corner</h6>
                                      </div>
                                      <div class="col-4 mb-7">
                                        <p class="mb-1 fs-2">City</p>
                                        <h6 class="fw-semibold mb-0">New York</h6>
                                      </div>
                                      <div class="col-8 mb-7">
                                        <p class="mb-1 fs-2">Country</p>
                                        <h6 class="fw-semibold mb-0">United Stats</h6>
                                      </div>
                                    </div>
                                    <div class="border-bottom pb-7 mb-4">
                                      <p class="mb-2 fs-2">Notes</p>
                                      <p class="mb-3 text-dark"> 
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum 
                                        hendrerit lobortis. Nullam ut lacus eros. Sed at luctus urna, eu fermentum diam. 
                                        In et tristique mauris.
                                      </p>
                                      <p class="mb-0 text-dark">Ut id ornare metus, sed auctor enim. Pellentesque nisi magna, laoreet a augue eget, tempor volutpat diam.</p>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                      <button class="btn btn-primary fs-2">Edit</button>
                                      <button class="btn btn-danger fs-2">Delete</button>
                                    </div>
                                  </div>
                                  <div class="chat-list chat" data-user-id="2">
                                    <div class="hstack align-items-start mb-7 pb-1 align-items-center justify-content-between">
                                      <div class="d-flex align-items-center gap-3">
                                        <img src="/dashboard/dist/images/profile/user-4.jpg" alt="user4" width="72" height="72" class="rounded-circle" />
                                        <div>
                                          <h6 class="fw-semibold fs-4 mb-0">Jonathan Higgins</h6>
                                          <p class="mb-0">Sales Manager</p>
                                          <p class="mb-0">Digital Arc Pvt. Ltd.</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-4 mb-7">
                                        <p class="mb-1 fs-2">Phone number</p>
                                        <h6 class="fw-semibold mb-0">+1 (203) 3458</h6>
                                      </div>
                                      <div class="col-8 mb-7">
                                        <p class="mb-1 fs-2">Email address</p>
                                        <h6 class="fw-semibold mb-0">alexandra@modernize.com</h6>
                                      </div>
                                      <div class="col-12 mb-9">
                                        <p class="mb-1 fs-2">Address</p>
                                        <h6 class="fw-semibold mb-0">312, Imperical Arc, New western corner</h6>
                                      </div>
                                      <div class="col-4 mb-7">
                                        <p class="mb-1 fs-2">City</p>
                                        <h6 class="fw-semibold mb-0">New York</h6>
                                      </div>
                                      <div class="col-8 mb-7">
                                        <p class="mb-1 fs-2">Country</p>
                                        <h6 class="fw-semibold mb-0">United Stats</h6>
                                      </div>
                                    </div>
                                    <div class="border-bottom pb-7 mb-4">
                                      <p class="mb-2 fs-2">Notes</p>
                                      <p class="mb-3 text-dark"> 
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum 
                                        hendrerit lobortis. Nullam ut lacus eros. Sed at luctus urna, eu fermentum diam. 
                                        In et tristique mauris.
                                      </p>
                                      <p class="mb-0 text-dark">Ut id ornare metus, sed auctor enim. Pellentesque nisi magna, laoreet a augue eget, tempor volutpat diam.</p>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                      <button class="btn btn-primary fs-2">Edit</button>
                                      <button class="btn btn-danger fs-2">Delete</button>
                                    </div>
                                  </div>
                                  <div class="chat-list chat" data-user-id="3">
                                    <div class="hstack align-items-start mb-7 pb-1 align-items-center justify-content-between">
                                      <div class="d-flex align-items-center gap-3">
                                        <img src="/dashboard/dist/images/profile/user-3.jpg" alt="user3" width="72" height="72" class="rounded-circle" />
                                        <div>
                                          <h6 class="fw-semibold fs-4 mb-0">Michael Knight </h6>
                                          <p class="mb-0">Sales Manager</p>
                                          <p class="mb-0">Digital Arc Pvt. Ltd.</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-4 mb-7">
                                        <p class="mb-1 fs-2">Phone number</p>
                                        <h6 class="fw-semibold mb-0">+1 (203) 3458</h6>
                                      </div>
                                      <div class="col-8 mb-7">
                                        <p class="mb-1 fs-2">Email address</p>
                                        <h6 class="fw-semibold mb-0">alexandra@modernize.com</h6>
                                      </div>
                                      <div class="col-12 mb-9">
                                        <p class="mb-1 fs-2">Address</p>
                                        <h6 class="fw-semibold mb-0">312, Imperical Arc, New western corner</h6>
                                      </div>
                                      <div class="col-4 mb-7">
                                        <p class="mb-1 fs-2">City</p>
                                        <h6 class="fw-semibold mb-0">New York</h6>
                                      </div>
                                      <div class="col-8 mb-7">
                                        <p class="mb-1 fs-2">Country</p>
                                        <h6 class="fw-semibold mb-0">United Stats</h6>
                                      </div>
                                    </div>
                                    <div class="border-bottom pb-7 mb-4">
                                      <p class="mb-2 fs-2">Notes</p>
                                      <p class="mb-3 text-dark"> 
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum 
                                        hendrerit lobortis. Nullam ut lacus eros. Sed at luctus urna, eu fermentum diam. 
                                        In et tristique mauris.
                                      </p>
                                      <p class="mb-0 text-dark">Ut id ornare metus, sed auctor enim. Pellentesque nisi magna, laoreet a augue eget, tempor volutpat diam.</p>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                      <button class="btn btn-primary fs-2">Edit</button>
                                      <button class="btn btn-danger fs-2">Delete</button>
                                    </div>
                                  </div>
                                  <div class="chat-list chat" data-user-id="4">
                                    <div class="hstack align-items-start mb-7 pb-1 align-items-center justify-content-between">
                                      <div class="d-flex align-items-center gap-3">
                                        <img src="/dashboard/dist/images/profile/user-8.jpg" alt="user8" width="72" height="72" class="rounded-circle" />
                                        <div>
                                          <h6 class="fw-semibold fs-4 mb-0">Angus MacGyver</h6>
                                          <p class="mb-0">Sales Manager</p>
                                          <p class="mb-0">Digital Arc Pvt. Ltd.</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-4 mb-7">
                                        <p class="mb-1 fs-2">Phone number</p>
                                        <h6 class="fw-semibold mb-0">+1 (203) 3458</h6>
                                      </div>
                                      <div class="col-8 mb-7">
                                        <p class="mb-1 fs-2">Email address</p>
                                        <h6 class="fw-semibold mb-0">alexandra@modernize.com</h6>
                                      </div>
                                      <div class="col-12 mb-9">
                                        <p class="mb-1 fs-2">Address</p>
                                        <h6 class="fw-semibold mb-0">312, Imperical Arc, New western corner</h6>
                                      </div>
                                      <div class="col-4 mb-7">
                                        <p class="mb-1 fs-2">City</p>
                                        <h6 class="fw-semibold mb-0">New York</h6>
                                      </div>
                                      <div class="col-8 mb-7">
                                        <p class="mb-1 fs-2">Country</p>
                                        <h6 class="fw-semibold mb-0">United Stats</h6>
                                      </div>
                                    </div>
                                    <div class="border-bottom pb-7 mb-4">
                                      <p class="mb-2 fs-2">Notes</p>
                                      <p class="mb-3 text-dark"> 
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum 
                                        hendrerit lobortis. Nullam ut lacus eros. Sed at luctus urna, eu fermentum diam. 
                                        In et tristique mauris.
                                      </p>
                                      <p class="mb-0 text-dark">Ut id ornare metus, sed auctor enim. Pellentesque nisi magna, laoreet a augue eget, tempor volutpat diam.</p>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                      <button class="btn btn-primary fs-2">Edit</button>
                                      <button class="btn btn-danger fs-2">Delete</button>
                                    </div>
                                  </div>
                                  <div class="chat-list chat" data-user-id="5">
                                    <div class="hstack align-items-start mb-7 pb-1 align-items-center justify-content-between">
                                      <div class="d-flex align-items-center gap-3">
                                        <img src="/dashboard/dist/images/profile/user-2.jpg" alt="user2" width="72" height="72" class="rounded-circle" />
                                        <div>
                                          <h6 class="fw-semibold fs-4 mb-0">Rick Wright</h6>
                                          <p class="mb-0">Sales Manager</p>
                                          <p class="mb-0">Digital Arc Pvt. Ltd.</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-4 mb-7">
                                        <p class="mb-1 fs-2">Phone number</p>
                                        <h6 class="fw-semibold mb-0">+1 (203) 3458</h6>
                                      </div>
                                      <div class="col-8 mb-7">
                                        <p class="mb-1 fs-2">Email address</p>
                                        <h6 class="fw-semibold mb-0">alexandra@modernize.com</h6>
                                      </div>
                                      <div class="col-12 mb-9">
                                        <p class="mb-1 fs-2">Address</p>
                                        <h6 class="fw-semibold mb-0">312, Imperical Arc, New western corner</h6>
                                      </div>
                                      <div class="col-4 mb-7">
                                        <p class="mb-1 fs-2">City</p>
                                        <h6 class="fw-semibold mb-0">New York</h6>
                                      </div>
                                      <div class="col-8 mb-7">
                                        <p class="mb-1 fs-2">Country</p>
                                        <h6 class="fw-semibold mb-0">United Stats</h6>
                                      </div>
                                    </div>
                                    <div class="border-bottom pb-7 mb-4">
                                      <p class="mb-2 fs-2">Notes</p>
                                      <p class="mb-3 text-dark"> 
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum 
                                        hendrerit lobortis. Nullam ut lacus eros. Sed at luctus urna, eu fermentum diam. 
                                        In et tristique mauris.
                                      </p>
                                      <p class="mb-0 text-dark">Ut id ornare metus, sed auctor enim. Pellentesque nisi magna, laoreet a augue eget, tempor volutpat diam.</p>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                      <button class="btn btn-primary fs-2">Edit</button>
                                      <button class="btn btn-danger fs-2">Delete</button>
                                    </div>
                                  </div>
                                  <div class="chat-list chat" data-user-id="6">
                                    <div class="hstack align-items-start mb-7 pb-1 align-items-center justify-content-between">
                                      <div class="d-flex align-items-center gap-3">
                                        <img src="/dashboard/dist/images/profile/user-1.jpg" alt="user1" width="72" height="72" class="rounded-circle" />
                                        <div>
                                          <h6 class="fw-semibold fs-4 mb-0">Sledge Hammer</h6>
                                          <p class="mb-0">Sales Manager</p>
                                          <p class="mb-0">Digital Arc Pvt. Ltd.</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-4 mb-7">
                                        <p class="mb-1 fs-2">Phone number</p>
                                        <h6 class="fw-semibold mb-0">+1 (203) 3458</h6>
                                      </div>
                                      <div class="col-8 mb-7">
                                        <p class="mb-1 fs-2">Email address</p>
                                        <h6 class="fw-semibold mb-0">alexandra@modernize.com</h6>
                                      </div>
                                      <div class="col-12 mb-9">
                                        <p class="mb-1 fs-2">Address</p>
                                        <h6 class="fw-semibold mb-0">312, Imperical Arc, New western corner</h6>
                                      </div>
                                      <div class="col-4 mb-7">
                                        <p class="mb-1 fs-2">City</p>
                                        <h6 class="fw-semibold mb-0">New York</h6>
                                      </div>
                                      <div class="col-8 mb-7">
                                        <p class="mb-1 fs-2">Country</p>
                                        <h6 class="fw-semibold mb-0">United Stats</h6>
                                      </div>
                                    </div>
                                    <div class="border-bottom pb-7 mb-4">
                                      <p class="mb-2 fs-2">Notes</p>
                                      <p class="mb-3 text-dark"> 
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum 
                                        hendrerit lobortis. Nullam ut lacus eros. Sed at luctus urna, eu fermentum diam. 
                                        In et tristique mauris.
                                      </p>
                                      <p class="mb-0 text-dark">Ut id ornare metus, sed auctor enim. Pellentesque nisi magna, laoreet a augue eget, tempor volutpat diam.</p>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                      <button class="btn btn-primary fs-2">Edit</button>
                                      <button class="btn btn-danger fs-2">Delete</button>
                                    </div>
                                  </div>
                                  <div class="chat-list chat" data-user-id="7">
                                    <div class="hstack align-items-start mb-7 pb-1 align-items-center justify-content-between">
                                      <div class="d-flex align-items-center gap-3">
                                        <img src="/dashboard/dist/images/profile/user-3.jpg" alt="user3" width="72" height="72" class="rounded-circle" />
                                        <div>
                                          <h6 class="fw-semibold fs-4 mb-0">Peter Thornton</h6>
                                          <p class="mb-0">Sales Manager</p>
                                          <p class="mb-0">Digital Arc Pvt. Ltd.</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-4 mb-7">
                                        <p class="mb-1 fs-2">Phone number</p>
                                        <h6 class="fw-semibold mb-0">+1 (203) 3458</h6>
                                      </div>
                                      <div class="col-8 mb-7">
                                        <p class="mb-1 fs-2">Email address</p>
                                        <h6 class="fw-semibold mb-0">alexandra@modernize.com</h6>
                                      </div>
                                      <div class="col-12 mb-9">
                                        <p class="mb-1 fs-2">Address</p>
                                        <h6 class="fw-semibold mb-0">312, Imperical Arc, New western corner</h6>
                                      </div>
                                      <div class="col-4 mb-7">
                                        <p class="mb-1 fs-2">City</p>
                                        <h6 class="fw-semibold mb-0">New York</h6>
                                      </div>
                                      <div class="col-8 mb-7">
                                        <p class="mb-1 fs-2">Country</p>
                                        <h6 class="fw-semibold mb-0">United Stats</h6>
                                      </div>
                                    </div>
                                    <div class="border-bottom pb-7 mb-4">
                                      <p class="mb-2 fs-2">Notes</p>
                                      <p class="mb-3 text-dark"> 
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum 
                                        hendrerit lobortis. Nullam ut lacus eros. Sed at luctus urna, eu fermentum diam. 
                                        In et tristique mauris.
                                      </p>
                                      <p class="mb-0 text-dark">Ut id ornare metus, sed auctor enim. Pellentesque nisi magna, laoreet a augue eget, tempor volutpat diam.</p>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                      <button class="btn btn-primary fs-2">Edit</button>
                                      <button class="btn btn-danger fs-2">Delete</button>
                                    </div>
                                  </div>
                                  <div class="chat-list chat" data-user-id="8">
                                    <div class="hstack align-items-start mb-7 pb-1 align-items-center justify-content-between">
                                      <div class="d-flex align-items-center gap-3">
                                        <img src="/dashboard/dist/images/profile/user-1.jpg" alt="user1" width="72" height="72" class="rounded-circle" />
                                        <div>
                                          <h6 class="fw-semibold fs-4 mb-0">Devon Miles</h6>
                                          <p class="mb-0">Sales Manager</p>
                                          <p class="mb-0">Digital Arc Pvt. Ltd.</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-4 mb-7">
                                        <p class="mb-1 fs-2">Phone number</p>
                                        <h6 class="fw-semibold mb-0">+1 (203) 3458</h6>
                                      </div>
                                      <div class="col-8 mb-7">
                                        <p class="mb-1 fs-2">Email address</p>
                                        <h6 class="fw-semibold mb-0">alexandra@modernize.com</h6>
                                      </div>
                                      <div class="col-12 mb-9">
                                        <p class="mb-1 fs-2">Address</p>
                                        <h6 class="fw-semibold mb-0">312, Imperical Arc, New western corner</h6>
                                      </div>
                                      <div class="col-4 mb-7">
                                        <p class="mb-1 fs-2">City</p>
                                        <h6 class="fw-semibold mb-0">New York</h6>
                                      </div>
                                      <div class="col-8 mb-7">
                                        <p class="mb-1 fs-2">Country</p>
                                        <h6 class="fw-semibold mb-0">United Stats</h6>
                                      </div>
                                    </div>
                                    <div class="border-bottom pb-7 mb-4">
                                      <p class="mb-2 fs-2">Notes</p>
                                      <p class="mb-3 text-dark"> 
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum 
                                        hendrerit lobortis. Nullam ut lacus eros. Sed at luctus urna, eu fermentum diam. 
                                        In et tristique mauris.
                                      </p>
                                      <p class="mb-0 text-dark">Ut id ornare metus, sed auctor enim. Pellentesque nisi magna, laoreet a augue eget, tempor volutpat diam.</p>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                      <button class="btn btn-primary fs-2">Edit</button>
                                      <button class="btn btn-danger fs-2">Delete</button>
                                    </div>
                                  </div>
                                  <div class="chat-list chat" data-user-id="9">
                                    <div class="hstack align-items-start mb-7 pb-1 align-items-center justify-content-between">
                                      <div class="d-flex align-items-center gap-3">
                                        <img src="/dashboard/dist/images/profile/user-1.jpg" alt="user1" width="72" height="72" class="rounded-circle" />
                                        <div>
                                          <h6 class="fw-semibold fs-4 mb-0">Michael Knight</h6>
                                          <p class="mb-0">Sales Manager</p>
                                          <p class="mb-0">Digital Arc Pvt. Ltd.</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-4 mb-7">
                                        <p class="mb-1 fs-2">Phone number</p>
                                        <h6 class="fw-semibold mb-0">+1 (203) 3458</h6>
                                      </div>
                                      <div class="col-8 mb-7">
                                        <p class="mb-1 fs-2">Email address</p>
                                        <h6 class="fw-semibold mb-0">alexandra@modernize.com</h6>
                                      </div>
                                      <div class="col-12 mb-9">
                                        <p class="mb-1 fs-2">Address</p>
                                        <h6 class="fw-semibold mb-0">312, Imperical Arc, New western corner</h6>
                                      </div>
                                      <div class="col-4 mb-7">
                                        <p class="mb-1 fs-2">City</p>
                                        <h6 class="fw-semibold mb-0">New York</h6>
                                      </div>
                                      <div class="col-8 mb-7">
                                        <p class="mb-1 fs-2">Country</p>
                                        <h6 class="fw-semibold mb-0">United Stats</h6>
                                      </div>
                                    </div>
                                    <div class="border-bottom pb-7 mb-4">
                                      <p class="mb-2 fs-2">Notes</p>
                                      <p class="mb-3 text-dark"> 
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum 
                                        hendrerit lobortis. Nullam ut lacus eros. Sed at luctus urna, eu fermentum diam. 
                                        In et tristique mauris.
                                      </p>
                                      <p class="mb-0 text-dark">Ut id ornare metus, sed auctor enim. Pellentesque nisi magna, laoreet a augue eget, tempor volutpat diam.</p>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                      <button class="btn btn-primary fs-2">Edit</button>
                                      <button class="btn btn-danger fs-2">Delete</button>
                                    </div>
                                  </div>
                                  <div class="chat-list chat" data-user-id="10">
                                    <div class="hstack align-items-start mb-7 pb-1 align-items-center justify-content-between">
                                      <div class="d-flex align-items-center gap-3">
                                        <img src="/dashboard/dist/images/profile/user-1.jpg" alt="user1" width="72" height="72" class="rounded-circle" />
                                        <div>
                                          <h6 class="fw-semibold fs-4 mb-0">Mike Torello</h6>
                                          <p class="mb-0">Sales Manager</p>
                                          <p class="mb-0">Digital Arc Pvt. Ltd.</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-4 mb-7">
                                        <p class="mb-1 fs-2">Phone number</p>
                                        <h6 class="fw-semibold mb-0">+1 (203) 3458</h6>
                                      </div>
                                      <div class="col-8 mb-7">
                                        <p class="mb-1 fs-2">Email address</p>
                                        <h6 class="fw-semibold mb-0">alexandra@modernize.com</h6>
                                      </div>
                                      <div class="col-12 mb-9">
                                        <p class="mb-1 fs-2">Address</p>
                                        <h6 class="fw-semibold mb-0">312, Imperical Arc, New western corner</h6>
                                      </div>
                                      <div class="col-4 mb-7">
                                        <p class="mb-1 fs-2">City</p>
                                        <h6 class="fw-semibold mb-0">New York</h6>
                                      </div>
                                      <div class="col-8 mb-7">
                                        <p class="mb-1 fs-2">Country</p>
                                        <h6 class="fw-semibold mb-0">United Stats</h6>
                                      </div>
                                    </div>
                                    <div class="border-bottom pb-7 mb-4">
                                      <p class="mb-2 fs-2">Notes</p>
                                      <p class="mb-3 text-dark"> 
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum 
                                        hendrerit lobortis. Nullam ut lacus eros. Sed at luctus urna, eu fermentum diam. 
                                        In et tristique mauris.
                                      </p>
                                      <p class="mb-0 text-dark">Ut id ornare metus, sed auctor enim. Pellentesque nisi magna, laoreet a augue eget, tempor volutpat diam.</p>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                      <button class="btn btn-primary fs-2">Edit</button>
                                      <button class="btn btn-danger fs-2">Delete</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="offcanvas offcanvas-start user-chat-box" tabindex="-1" id="chat-sidebar" aria-labelledby="offcanvasExampleLabel">
                    <div class="offcanvas-header">
                      <h5 class="offcanvas-title" id="offcanvasExampleLabel"> Contact </h5>
                      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="px-9 pt-4 pb-3">
                      <button class="btn btn-primary fw-semibold py-8 w-100">Add New Contact</button>
                    </div>
                    <ul class="list-group" style="height: calc(100vh - 150px)" data-simplebar>
                      <li class="list-group-item border-0 p-0 mx-9">
                        <a class="d-flex align-items-center gap-2 list-group-item-action text-dark px-3 py-8 mb-1 rounded-1" href="javascript:void(0)">
                          <i class="ti ti-inbox fs-5"></i>All Contacts </a>
                      </li>
                      <li class="list-group-item border-0 p-0 mx-9">
                        <a class="d-flex align-items-center gap-2 list-group-item-action text-dark px-3 py-8 mb-1 rounded-1" href="javascript:void(0)">
                          <i class="ti ti-star"></i>Starred </a>
                      </li>
                      <li class="list-group-item border-0 p-0 mx-9">
                        <a class="d-flex align-items-center gap-2 list-group-item-action text-dark px-3 py-8 mb-1 rounded-1" href="javascript:void(0)">
                          <i class="ti ti-file-text fs-5"></i>Pening Approval </a>
                      </li>
                      <li class="list-group-item border-0 p-0 mx-9">
                        <a class="d-flex align-items-center gap-2 list-group-item-action text-dark px-3 py-8 mb-1 rounded-1" href="javascript:void(0)">
                          <i class="ti ti-alert-circle"></i>Blocked </a>
                      </li>
                      <li class="border-bottom my-3"></li>
                      <li class="fw-semibold text-dark text-uppercase mx-9 my-2 px-3 fs-2">CATEGORIES</li>
                      <li class="list-group-item border-0 p-0 mx-9">
                        <a class="d-flex align-items-center gap-2 list-group-item-action text-dark px-3 py-8 mb-1 rounded-1" href="javascript:void(0)">
                          <i class="ti ti-bookmark fs-5 text-primary"></i>Engineers </a>
                      </li>
                      <li class="list-group-item border-0 p-0 mx-9">
                        <a class="d-flex align-items-center gap-2 list-group-item-action text-dark px-3 py-8 mb-1 rounded-1" href="javascript:void(0)">
                          <i class="ti ti-bookmark fs-5 text-warning"></i>Support Staff </a>
                      </li>
                      <li class="list-group-item border-0 p-0 mx-9">
                        <a class="d-flex align-items-center gap-2 list-group-item-action text-dark px-3 py-8 mb-1 rounded-1" href="javascript:void(0)">
                          <i class="ti ti-bookmark fs-5 text-success"></i>Sales Team </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!--  Shopping Cart -->
   
    <!--  Mobilenavbar -->
    
    <!-- Search Bar -->
    
    <!-- Customizer -->
   <button class="btn btn-primary p-3 rounded-circle d-flex align-items-center justify-content-center customizer-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    <i class="ti ti-settings fs-7" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Settings"></i>
  </button>
  <div class="offcanvas offcanvas-end customizer" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" data-simplebar="">
    <div class="d-flex align-items-center justify-content-between p-3 border-bottom">
      <h4 class="offcanvas-title fw-semibold" id="offcanvasExampleLabel">Settings</h4>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-4">
      <div class="theme-option pb-4">
        <h6 class="fw-semibold fs-4 mb-1">Theme Option</h6>
        <div class="d-flex align-items-center gap-3 my-3">
          <a href="javascript:void(0)"  onclick="toggleTheme('/dashboard/dist/css/style.min.css')"  class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 light-theme text-dark">
            <i class="ti ti-brightness-up fs-7 text-primary"></i>
            <span class="text-dark">Light</span>
          </a>
          <a href="javascript:void(0)" onclick="toggleTheme('/dashboard/dist/css/style-dark.min.css')" class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 dark-theme text-dark">
            <i class="ti ti-moon fs-7 "></i>
            <span class="text-dark">Dark</span>
          </a>
        </div>
      </div>
      
      <div class="theme-colors pb-4">
        <h6 class="fw-semibold fs-4 mb-1">Theme Colors</h6>
        <div class="d-flex align-items-center gap-3 my-3">
          <ul class="list-unstyled mb-0 d-flex gap-3 flex-wrap change-colors">
            <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
              <a href="javascript:void(0)" class="rounded-circle position-relative d-block customizer-bgcolor skin1-bluetheme-primary active-theme " onclick="toggleTheme('/dashboard/dist/css/style.min.css')"  data-color="blue_theme" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="BLUE_THEME"><i class="ti ti-check text-white d-flex align-items-center justify-content-center fs-5"></i></a>
            </li>
            <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
              <a href="javascript:void(0)"  class="rounded-circle position-relative d-block customizer-bgcolor skin2-aquatheme-primary " onclick="toggleTheme('/dashboard/dist/css/style-aqua.min.css')"  data-color="aqua_theme" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="AQUA_THEME"><i class="ti ti-check  text-white d-flex align-items-center justify-content-center fs-5"></i></a>
            </li>
            <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
              <a href="javascript:void(0)" class="rounded-circle position-relative d-block customizer-bgcolor skin3-purpletheme-primary" onclick="toggleTheme('/dashboard/dist/css/style-purple.min.css')"  data-color="purple_theme" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="PURPLE_THEME"><i class="ti ti-check  text-white d-flex align-items-center justify-content-center fs-5"></i></a>
            </li>
            <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
              <a href="javascript:void(0)" class="rounded-circle position-relative d-block customizer-bgcolor skin4-greentheme-primary" onclick="toggleTheme('/dashboard/dist/css/style-green.min.css')"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="GREEN_THEME"><i class="ti ti-check  text-white d-flex align-items-center justify-content-center fs-5"></i></a>
            </li>
            <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
              <a href="javascript:void(0)" class="rounded-circle position-relative d-block customizer-bgcolor skin5-cyantheme-primary" onclick="toggleTheme('/dashboard/dist/css/style-cyan.min.css')"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="CYAN_THEME"><i class="ti ti-check  text-white d-flex align-items-center justify-content-center fs-5"></i></a>
            </li>
            <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
              <a href="javascript:void(0)" class="rounded-circle position-relative d-block customizer-bgcolor skin6-orangetheme-primary" onclick="toggleTheme('/dashboard/dist/css/style-orange.min.css')"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="ORANGE_THEME"><i class="ti ti-check  text-white d-flex align-items-center justify-content-center fs-5"></i></a>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="container-option pb-4">
        <h6 class="fw-semibold fs-4 mb-1">Container Option</h6>
        <div class="d-flex align-items-center gap-3 my-3">
          <a href="javascript:void(0)" class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 boxed-width text-dark">              
            <i class="ti ti-layout-distribute-vertical fs-7 text-primary"></i>
            <span class="text-dark">Boxed</span>
          </a>
          <a href="javascript:void(0)" class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 full-width text-dark">
            <i class="ti ti-layout-distribute-horizontal fs-7"></i>
            <span class="text-dark">Full</span>
          </a>
        </div>
      </div>
      <div class="sidebar-type pb-4">
        <h6 class="fw-semibold fs-4 mb-1">Sidebar Type</h6>
        <div class="d-flex align-items-center gap-3 my-3">
          <a  href="javascript:void(0)" class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 fullsidebar">              
            <i class="ti ti-layout-sidebar-right fs-7"></i>
            <span class="text-dark">Full</span>
          </a>
          <a  href="javascript:void(0)" class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center text-dark sidebartoggler gap-2">
            <i class="ti ti-layout-sidebar fs-7"></i>
            <span class="text-dark">Collapse</span>
          </a>
        </div>
      </div>
      <div class="card-with pb-4">
        <h6 class="fw-semibold fs-4 mb-1">Card With</h6>
        <div class="d-flex align-items-center gap-3 my-3">
          <a href="javascript:void(0)" class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 text-dark cardborder">              
            <i class="ti ti-border-outer fs-7"></i>
            <span class="text-dark">Border</span>
          </a>
          <a href="javascript:void(0)" class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 cardshadow">
            <i class="ti ti-border-none fs-7"></i>
            <span class="text-dark">Shadow</span>
          </a>
        </div>
      </div>
    </div>
  </div>
        <!-- Customizer -->
    <!-- Import Js Files -->
    <script src="/dashboard/dist/libs/jquery/dist/jquery.min.js"></script>
    <script src="/dashboard/dist/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="/dashboard/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- core files -->
    <script src="/dashboard/dist/js/app.min.js"></script>
    <script src="/dashboard/dist/js/app.init.js"></script>
    <script src="/dashboard/dist/js/app-style-switcher.js"></script>
    <script src="/dashboard/dist/js/sidebarmenu.js"></script>
    <script src="/dashboard/dist/js/custom.js"></script>
    <!-- current page js files -->
    <script src="/dashboard/dist/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="/dashboard/dist/js/dashboard5.js"></script>
    <script src="/dashboard/dist/js/apps/chat.js"></script>

</body>

</html>