<!DOCTYPE html>
<html lang="en">
  
<head>
    <!--  Title -->
    <title>Mordenize</title>
    <!--  Required Meta Tag -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="handheldfriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="description" content="Mordenize" />
    <meta name="author" content="" />
    <meta name="keywords" content="Mordenize" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--  Favicon -->
    <link rel="shortcut icon" type="image/png" href="/dashboard/dist/images/logos/favicon.png" />
    <!-- Core Css -->
    <link  id="themeColors"  rel="stylesheet" href="/dashboard/dist/css/style.min.css" />
  </head>
  <body>
    <!-- Preloader -->
    <div class="preloader">
      <img src="/dashboard/dist/images/logos/favicon.png" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <!-- Preloader -->
    <div class="preloader">
      <img src="/dashboard/dist/images/logos/favicon.png" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <!-- Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
      <!-- Sidebar Start -->
      <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div>
          <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="/" class="text-nowrap logo-img">
              <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/logos/dark-logo.svg" class="dark-logo" width="180" alt="" />
              <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/logos/light-logo.svg" class="light-logo"  width="180" alt="" />
            </a>
            <div class="close-btn d-lg-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
              <i class="ti ti-x fs-8"></i>
            </div>
          </div>
          <!-- Sidebar navigation-->
         <%- include('components/sidenav') %>
          <div class="fixed-profile p-3 bg-light-secondary rounded sidebar-ad mt-3">
            <div class="hstack gap-3">
              <div class="john-img">
                <img src="/dashboard/dist/images/profile/user-1.jpg" class="rounded-circle" width="40" height="40" alt="">
              </div>
              <div class="john-title">
                <h6 class="mb-0 fs-4 fw-semibold">Mathew</h6>
                <span class="fs-2 text-dark">Designer</span>
              </div>
              <button class="border-0 bg-transparent text-primary ms-auto" tabindex="0" type="button" aria-label="logout" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="logout">
                <i class="ti ti-power fs-6"></i>
              </button>
            </div>
          </div>  
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside>
      <!-- Sidebar End -->
      <!-- Main wrapper -->
      <div class="body-wrapper">
        <!-- Header Start -->
        <%- include('components/header') %>
        <!-- Header End -->
        <div class="container-fluid">
          <%- include('components/banner-others') %>
          
          <div class="card overflow-hidden">
            <div class="card-body p-0">
              <img src="/dashboard/dist/images/backgrounds/profilebg.jpg" alt="" class="img-fluid">
              <div class="row align-items-center">
                <div class="col-lg-4 order-lg-1 order-2">
                  <div class="d-flex align-items-center justify-content-around m-4">
                    <div class="text-center">
                      <i class="ti ti-file-description fs-6 d-block mb-2"></i>
                      <h4 class="mb-0 fw-semibold lh-1">15</h4>
                      <p class="mb-0 fs-4">Rooms</p>
                    </div>
                    <div class="text-center">
                      <i class="ti ti-user-circle fs-6 d-block mb-2"></i>
                      <h4 class="mb-0 fw-semibold lh-1">12</h4>
                      <p class="mb-0 fs-4">Filled</p>
                    </div>
                    <div class="text-center">
                      <i class="ti ti-user-check fs-6 d-block mb-2"></i>
                      <h4 class="mb-0 fw-semibold lh-1">4.2</h4>
                      <p class="mb-0 fs-4">Ratings</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4  order-lg-2 order-1">
                  <div class="">
                    <!-- <div class="d-flex align-items-center justify-content-center mb-2">
                      <div class="linear-gradient d-flex align-items-center justify-content-center rounded-circle" style="width: 110px; height: 110px;";>
                        <div class="border border-4 border-white d-flex align-items-center justify-content-center rounded-circle overflow-hidden" style="width: 100px; height: 100px;";>
                          <img src="/dashboard/dist/images/profile/user-1.jpg" alt="" class="w-100 h-100">
                        </div>
                      </div>
                    </div> -->
                    <div class="text-center">
                      <h5 class="fs-8 mb-0 fw-semibold">Subhraag Apartment</h5>
                      <p class="mb-0 fs-4">PG</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 order-last">
                  <ul class="list-unstyled d-flex align-items-center justify-content-center justify-content-lg-start my-3 gap-3">
                    <li class="position-relative">
                      <a class="text-white d-flex align-items-center justify-content-center bg-primary p-2 fs-4 rounded-circle" href="javascript:void(0)" width="30" height="30">
                        <i class="ti ti-brand-facebook"></i>
                      </a>
                    </li>
                    <li class="position-relative">
                      <a class="text-white bg-secondary d-flex align-items-center justify-content-center p-2 fs-4 rounded-circle " href="javascript:void(0)">
                        <i class="ti ti-brand-twitter"></i>
                      </a>
                    </li>
                    <li class="position-relative">
                      <a class="text-white bg-secondary d-flex align-items-center justify-content-center p-2 fs-4 rounded-circle " href="javascript:void(0)">
                        <i class="ti ti-brand-dribbble"></i>
                      </a>
                    </li>
                    <li class="position-relative">
                      <a class="text-white bg-danger d-flex align-items-center justify-content-center p-2 fs-4 rounded-circle " href="javascript:void(0)">
                        <i class="ti ti-brand-youtube"></i>
                      </a>
                    </li>
                    <li><button class="btn btn-primary">Add to bookmark</button></li>
                  </ul>
                </div>
              </div>
              <ul class="nav nav-pills user-profile-tab justify-content-end mt-2 bg-light-info rounded-2" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link position-relative rounded-0 active d-flex align-items-center justify-content-center bg-transparent fs-3 py-6" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="true">
                    <i class="ti ti-user-circle me-2 fs-6"></i>
                    <span class="d-none d-md-block">Profile</span> 
                  </button>
                </li>
                
                <li class="nav-item" role="presentation">
                  <button class="nav-link position-relative rounded-0 d-flex align-items-center justify-content-center bg-transparent fs-3 py-6" id="pills-friends-tab" data-bs-toggle="pill" data-bs-target="#pills-friends" type="button" role="tab" aria-controls="pills-friends" aria-selected="false">
                    <i class="ti ti-user-circle me-2 fs-6"></i>
                    <span class="d-none d-md-block">Friends</span> 
                  </button>
                </li>
                
              </ul>
            </div>
          </div>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
              <div class="row">
                <div class="col-lg-4">
                  <div class="card shadow-none border">
                    <div class="card-body">
                      <h4 class="fw-semibold mb-3">Introduction</h4>
                      <p>Modern elegance meets comfort in this centrally located PG property. Offering tastefully furnished rooms, vibrant communal spaces, and thoughtful amenities, it's the perfect haven for students and young professionals seeking a seamless blend of style and convenience in their urban living experience.</p>
                      <ul class="list-unstyled mb-0">
                        <li class="d-flex align-items-center gap-3 mb-4">
                          <i class="ti ti-briefcase text-dark fs-6"></i>
                          <h6 class="fs-4 fw-semibold mb-0">Subjrag Owner</h6>
                        </li>
                        <li class="d-flex align-items-center gap-3 mb-4">
                          <i class="ti ti-mail text-dark fs-6"></i>
                          <h6 class="fs-4 fw-semibold mb-0">xyzjonathan@gmail.com</h6>
                        </li>
                        <li class="d-flex align-items-center gap-3 mb-4">
                          <i class="ti ti-device-desktop text-dark fs-6"></i>
                          <h6 class="fs-4 fw-semibold mb-0">www.xyz.com</h6>
                        </li>
                        <li class="d-flex align-items-center gap-3 mb-2">
                          <i class="ti ti-map-pin text-dark fs-6"></i>
                          <h6 class="fs-4 fw-semibold mb-0">Near green valley</h6>
                        </li>
                      </ul>
                    </div>
                  </div>
                  
                </div>
                <div class="col-lg-4">
                  <div class="card shadow-none border">
                    <div class="card-body">
                      <h4 class="fw-semibold mb-3">Photos</h4>
                      <div class="row">
                        <div class="col-4">
                          <img src="/dashboard/dist/images/profile/user-1.jpg" alt="" class="rounded-2 img-fluid mb-9">
                        </div>
                        <div class="col-4">
                          <img src="/dashboard/dist/images/profile/user-2.jpg" alt="" class="rounded-2 img-fluid mb-9">
                        </div>
                        <div class="col-4">
                          <img src="/dashboard/dist/images/profile/user-3.jpg" alt="" class="rounded-2 img-fluid mb-9">
                        </div>
                        <div class="col-4">
                          <img src="/dashboard/dist/images/profile/user-4.jpg" alt="" class="rounded-2 img-fluid mb-9">
                        </div>
                        <div class="col-4">
                          <img src="/dashboard/dist/images/profile/user-5.jpg" alt="" class="rounded-2 img-fluid mb-9">
                        </div>
                        <div class="col-4">
                          <img src="/dashboard/dist/images/profile/user-6.jpg" alt="" class="rounded-2 img-fluid mb-9">
                        </div>
                        <div class="col-4">
                          <img src="/dashboard/dist/images/profile/user-7.jpg" alt="" class="rounded-2 img-fluid mb-6">
                        </div>
                        <div class="col-4">
                          <img src="/dashboard/dist/images/profile/user-8.jpg" alt="" class="rounded-2 img-fluid mb-6">
                        </div>
                        <div class="col-4">
                          <img src="/dashboard/dist/images/profile/user-1.jpg" alt="" class="rounded-2 img-fluid mb-6">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
            <div class="tab-pane fade" id="pills-friends" role="tabpanel" aria-labelledby="pills-friends-tab" tabindex="0">
              <div class="d-sm-flex align-items-center justify-content-between mt-3 mb-4">
                <h3 class="mb-3 mb-sm-0 fw-semibold d-flex align-items-center">Friends <span class="badge text-bg-secondary fs-2 rounded-4 py-1 px-2 ms-2">20</span></h3>
                <form class="position-relative">
                  <input type="text" class="form-control search-chat py-2 ps-5" id="text-srh" placeholder="Search Friends">
                  <i class="ti ti-search position-absolute top-50 start-0 translate-middle-y text-dark ms-3"></i>
                </form>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-4">
                  <div class="card hover-img">
                    <div class="card-body p-4 text-center border-bottom">
                      <img src="/dashboard/dist/images/profile/user-1.jpg" alt="" class="rounded-circle mb-3" width="80" height="80">
                      <h5 class="fw-semibold mb-0">Betty Adams</h5>
                      <span class="text-dark fs-2">Medical Secretary</span>
                    </div>
                    <ul class="px-2 py-2 bg-light list-unstyled d-flex align-items-center justify-content-center mb-0">
                      <li class="position-relative">
                        <a class="text-primary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold" href="javascript:void(0)">
                          <i class="ti ti-brand-facebook"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-danger d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-instagram"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-info d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-github"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-secondary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-twitter"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card hover-img">
                    <div class="card-body p-4 text-center border-bottom">
                      <img src="/dashboard/dist/images/profile/user-2.jpg" alt="" class="rounded-circle mb-3" width="80" height="80">
                      <h5 class="fw-semibold mb-0">Inez Lyons</h5>
                      <span class="text-dark fs-2">Medical Technician</span>
                    </div>
                    <ul class="px-2 py-2 bg-light list-unstyled d-flex align-items-center justify-content-center mb-0">
                      <li class="position-relative">
                        <a class="text-primary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold" href="javascript:void(0)">
                          <i class="ti ti-brand-facebook"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-danger d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-instagram"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-info d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-github"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-secondary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-twitter"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card hover-img">
                    <div class="card-body p-4 text-center border-bottom">
                      <img src="/dashboard/dist/images/profile/user-3.jpg" alt="" class="rounded-circle mb-3" width="80" height="80">
                      <h5 class="fw-semibold mb-0">Lydia Bryan</h5>
                      <span class="text-dark fs-2">Preschool Teacher</span>
                    </div>
                    <ul class="px-2 py-2 bg-light list-unstyled d-flex align-items-center justify-content-center mb-0">
                      <li class="position-relative">
                        <a class="text-primary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold" href="javascript:void(0)">
                          <i class="ti ti-brand-facebook"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-danger d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-instagram"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-info d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-github"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-secondary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-twitter"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card hover-img">
                    <div class="card-body p-4 text-center border-bottom">
                      <img src="/dashboard/dist/images/profile/user-4.jpg" alt="" class="rounded-circle mb-3" width="80" height="80">
                      <h5 class="fw-semibold mb-0">Carolyn Bryant</h5>
                      <span class="text-dark fs-2">Legal Secretary</span>
                    </div>
                    <ul class="px-2 py-2 bg-light list-unstyled d-flex align-items-center justify-content-center mb-0">
                      <li class="position-relative">
                        <a class="text-primary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold" href="javascript:void(0)">
                          <i class="ti ti-brand-facebook"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-danger d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-instagram"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-info d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-github"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-secondary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-twitter"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card hover-img">
                    <div class="card-body p-4 text-center border-bottom">
                      <img src="/dashboard/dist/images/profile/user-5.jpg" alt="" class="rounded-circle mb-3" width="80" height="80">
                      <h5 class="fw-semibold mb-0">Paul Benson</h5>
                      <span class="text-dark fs-2">Safety Engineer</span>
                    </div>
                    <ul class="px-2 py-2 bg-light list-unstyled d-flex align-items-center justify-content-center mb-0">
                      <li class="position-relative">
                        <a class="text-primary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold" href="javascript:void(0)">
                          <i class="ti ti-brand-facebook"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-danger d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-instagram"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-info d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-github"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-secondary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-twitter"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card hover-img">
                    <div class="card-body p-4 text-center border-bottom">
                      <img src="/dashboard/dist/images/profile/user-6.jpg" alt="" class="rounded-circle mb-3" width="80" height="80">
                      <h5 class="fw-semibold mb-0">Robert Francis</h5>
                      <span class="text-dark fs-2">Nursing Administrator</span>
                    </div>
                    <ul class="px-2 py-2 bg-light list-unstyled d-flex align-items-center justify-content-center mb-0">
                      <li class="position-relative">
                        <a class="text-primary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold" href="javascript:void(0)">
                          <i class="ti ti-brand-facebook"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-danger d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-instagram"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-info d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-github"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-secondary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-twitter"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card hover-img">
                    <div class="card-body p-4 text-center border-bottom">
                      <img src="/dashboard/dist/images/profile/user-7.jpg" alt="" class="rounded-circle mb-3" width="80" height="80">
                      <h5 class="fw-semibold mb-0">Billy Rogers</h5>
                      <span class="text-dark fs-2">Legal Secretary</span>
                    </div>
                    <ul class="px-2 py-2 bg-light list-unstyled d-flex align-items-center justify-content-center mb-0">
                      <li class="position-relative">
                        <a class="text-primary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold" href="javascript:void(0)">
                          <i class="ti ti-brand-facebook"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-danger d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-instagram"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-info d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-github"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-secondary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-twitter"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card hover-img">
                    <div class="card-body p-4 text-center border-bottom">
                      <img src="/dashboard/dist/images/profile/user-8.jpg" alt="" class="rounded-circle mb-3" width="80" height="80">
                      <h5 class="fw-semibold mb-0">Rosetta Brewer</h5>
                      <span class="text-dark fs-2">Comptroller</span>
                    </div>
                    <ul class="px-2 py-2 bg-light list-unstyled d-flex align-items-center justify-content-center mb-0">
                      <li class="position-relative">
                        <a class="text-primary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold" href="javascript:void(0)">
                          <i class="ti ti-brand-facebook"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-danger d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-instagram"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-info d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-github"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-secondary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-twitter"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card hover-img">
                    <div class="card-body p-4 text-center border-bottom">
                      <img src="/dashboard/dist/images/profile/user-9.jpg" alt="" class="rounded-circle mb-3" width="80" height="80">
                      <h5 class="fw-semibold mb-0">Patrick Knight</h5>
                      <span class="text-dark fs-2">Retail Store Manager</span>
                    </div>
                    <ul class="px-2 py-2 bg-light list-unstyled d-flex align-items-center justify-content-center mb-0">
                      <li class="position-relative">
                        <a class="text-primary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold" href="javascript:void(0)">
                          <i class="ti ti-brand-facebook"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-danger d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-instagram"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-info d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-github"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-secondary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-twitter"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card hover-img">
                    <div class="card-body p-4 text-center border-bottom">
                      <img src="/dashboard/dist/images/profile/user-10.jpg" alt="" class="rounded-circle mb-3" width="80" height="80">
                      <h5 class="fw-semibold mb-0">Francis Sutton</h5>
                      <span class="text-dark fs-2">Astronomer</span>
                    </div>
                    <ul class="px-2 py-2 bg-light list-unstyled d-flex align-items-center justify-content-center mb-0">
                      <li class="position-relative">
                        <a class="text-primary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold" href="javascript:void(0)">
                          <i class="ti ti-brand-facebook"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-danger d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-instagram"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-info d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-github"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-secondary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-twitter"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card hover-img">
                    <div class="card-body p-4 text-center border-bottom">
                      <img src="/dashboard/dist/images/profile/user-1.jpg" alt="" class="rounded-circle mb-3" width="80" height="80">
                      <h5 class="fw-semibold mb-0">Bernice Henry</h5>
                      <span class="text-dark fs-2">Security Consultant</span>
                    </div>
                    <ul class="px-2 py-2 bg-light list-unstyled d-flex align-items-center justify-content-center mb-0">
                      <li class="position-relative">
                        <a class="text-primary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold" href="javascript:void(0)">
                          <i class="ti ti-brand-facebook"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-danger d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-instagram"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-info d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-github"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-secondary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-twitter"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card hover-img">
                    <div class="card-body p-4 text-center border-bottom">
                      <img src="/dashboard/dist/images/profile/user-2.jpg" alt="" class="rounded-circle mb-3" width="80" height="80">
                      <h5 class="fw-semibold mb-0">Estella Garcia</h5>
                      <span class="text-dark fs-2">Lead Software Test Engineer</span>
                    </div>
                    <ul class="px-2 py-2 bg-light list-unstyled d-flex align-items-center justify-content-center mb-0">
                      <li class="position-relative">
                        <a class="text-primary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold" href="javascript:void(0)">
                          <i class="ti ti-brand-facebook"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-danger d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-instagram"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-info d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-github"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-secondary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-twitter"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card hover-img">
                    <div class="card-body p-4 text-center border-bottom">
                      <img src="/dashboard/dist/images/profile/user-3.jpg" alt="" class="rounded-circle mb-3" width="80" height="80">
                      <h5 class="fw-semibold mb-0">Norman Moran</h5>
                      <span class="text-dark fs-2">Engineer Technician</span>
                    </div>
                    <ul class="px-2 py-2 bg-light list-unstyled d-flex align-items-center justify-content-center mb-0">
                      <li class="position-relative">
                        <a class="text-primary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold" href="javascript:void(0)">
                          <i class="ti ti-brand-facebook"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-danger d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-instagram"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-info d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-github"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-secondary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-twitter"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card hover-img">
                    <div class="card-body p-4 text-center border-bottom">
                      <img src="/dashboard/dist/images/profile/user-4.jpg" alt="" class="rounded-circle mb-3" width="80" height="80">
                      <h5 class="fw-semibold mb-0">Jessie Matthews</h5>
                      <span class="text-dark fs-2">Lead Software Engineer</span>
                    </div>
                    <ul class="px-2 py-2 bg-light list-unstyled d-flex align-items-center justify-content-center mb-0">
                      <li class="position-relative">
                        <a class="text-primary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold" href="javascript:void(0)">
                          <i class="ti ti-brand-facebook"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-danger d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-instagram"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-info d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-github"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-secondary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-twitter"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card hover-img">
                    <div class="card-body p-4 text-center border-bottom">
                      <img src="/dashboard/dist/images/profile/user-5.jpg" alt="" class="rounded-circle mb-3" width="80" height="80">
                      <h5 class="fw-semibold mb-0">Elijah Perez</h5>
                      <span class="text-dark fs-2">Special Education Teacher</span>
                    </div>
                    <ul class="px-2 py-2 bg-light list-unstyled d-flex align-items-center justify-content-center mb-0">
                      <li class="position-relative">
                        <a class="text-primary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold" href="javascript:void(0)">
                          <i class="ti ti-brand-facebook"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-danger d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-instagram"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-info d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-github"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-secondary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-twitter"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card hover-img">
                    <div class="card-body p-4 text-center border-bottom">
                      <img src="/dashboard/dist/images/profile/user-6.jpg" alt="" class="rounded-circle mb-3" width="80" height="80">
                      <h5 class="fw-semibold mb-0">Robert Martin</h5>
                      <span class="text-dark fs-2">Transportation Manager</span>
                    </div>
                    <ul class="px-2 py-2 bg-light list-unstyled d-flex align-items-center justify-content-center mb-0">
                      <li class="position-relative">
                        <a class="text-primary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold" href="javascript:void(0)">
                          <i class="ti ti-brand-facebook"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-danger d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-instagram"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-info d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-github"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-secondary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-twitter"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card hover-img">
                    <div class="card-body p-4 text-center border-bottom">
                      <img src="/dashboard/dist/images/profile/user-7.jpg" alt="" class="rounded-circle mb-3" width="80" height="80">
                      <h5 class="fw-semibold mb-0">Elva Wong</h5>
                      <span class="text-dark fs-2">Logistics Manager</span>
                    </div>
                    <ul class="px-2 py-2 bg-light list-unstyled d-flex align-items-center justify-content-center mb-0">
                      <li class="position-relative">
                        <a class="text-primary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold" href="javascript:void(0)">
                          <i class="ti ti-brand-facebook"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-danger d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-instagram"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-info d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-github"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-secondary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-twitter"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card hover-img">
                    <div class="card-body p-4 text-center border-bottom">
                      <img src="/dashboard/dist/images/profile/user-8.jpg" alt="" class="rounded-circle mb-3" width="80" height="80">
                      <h5 class="fw-semibold mb-0">Edith Taylor</h5>
                      <span class="text-dark fs-2">Union Representative</span>
                    </div>
                    <ul class="px-2 py-2 bg-light list-unstyled d-flex align-items-center justify-content-center mb-0">
                      <li class="position-relative">
                        <a class="text-primary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold" href="javascript:void(0)">
                          <i class="ti ti-brand-facebook"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-danger d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-instagram"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-info d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-github"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-secondary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-twitter"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card hover-img">
                    <div class="card-body p-4 text-center border-bottom">
                      <img src="/dashboard/dist/images/profile/user-9.jpg" alt="" class="rounded-circle mb-3" width="80" height="80">
                      <h5 class="fw-semibold mb-0">Violet Jackson</h5>
                      <span class="text-dark fs-2">Agricultural Inspector</span>
                    </div>
                    <ul class="px-2 py-2 bg-light list-unstyled d-flex align-items-center justify-content-center mb-0">
                      <li class="position-relative">
                        <a class="text-primary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold" href="javascript:void(0)">
                          <i class="ti ti-brand-facebook"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-danger d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-instagram"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-info d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-github"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-secondary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-twitter"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card hover-img">
                    <div class="card-body p-4 text-center border-bottom">
                      <img src="/dashboard/dist/images/profile/user-10.jpg" alt="" class="rounded-circle mb-3" width="80" height="80">
                      <h5 class="fw-semibold mb-0">Phoebe Owens</h5>
                      <span class="text-dark fs-2">Safety Engineer</span>
                    </div>
                    <ul class="px-2 py-2 bg-light list-unstyled d-flex align-items-center justify-content-center mb-0">
                      <li class="position-relative">
                        <a class="text-primary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold" href="javascript:void(0)">
                          <i class="ti ti-brand-facebook"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-danger d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-instagram"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-info d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-github"></i>
                        </a>
                      </li>
                      <li class="position-relative">
                        <a class="text-secondary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                          <i class="ti ti-brand-twitter"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
      </div>
    </div>
    <!--  Shopping Cart -->
   
    <!--  Mobilenavbar -->
   
    <!-- Search Bar -->
    
    <!-- Customizer -->
   <button class="btn btn-primary p-3 rounded-circle d-flex align-items-center justify-content-center customizer-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    <i class="ti ti-settings fs-7" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Settings"></i>
  </button>
  <div class="offcanvas offcanvas-end customizer" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" data-simplebar="">
    <div class="d-flex align-items-center justify-content-between p-3 border-bottom">
      <h4 class="offcanvas-title fw-semibold" id="offcanvasExampleLabel">Settings</h4>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-4">
      <div class="theme-option pb-4">
        <h6 class="fw-semibold fs-4 mb-1">Theme Option</h6>
        <div class="d-flex align-items-center gap-3 my-3">
          <a href="javascript:void(0)"  onclick="toggleTheme('/dashboard/dist/css/style.min.css')"  class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 light-theme text-dark">
            <i class="ti ti-brightness-up fs-7 text-primary"></i>
            <span class="text-dark">Light</span>
          </a>
          <a href="javascript:void(0)" onclick="toggleTheme('/dashboard/dist/css/style-dark.min.css')" class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 dark-theme text-dark">
            <i class="ti ti-moon fs-7 "></i>
            <span class="text-dark">Dark</span>
          </a>
        </div>
      </div>
      
      <div class="theme-colors pb-4">
        <h6 class="fw-semibold fs-4 mb-1">Theme Colors</h6>
        <div class="d-flex align-items-center gap-3 my-3">
          <ul class="list-unstyled mb-0 d-flex gap-3 flex-wrap change-colors">
            <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
              <a href="javascript:void(0)" class="rounded-circle position-relative d-block customizer-bgcolor skin1-bluetheme-primary active-theme " onclick="toggleTheme('/dashboard/dist/css/style.min.css')"  data-color="blue_theme" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="BLUE_THEME"><i class="ti ti-check text-white d-flex align-items-center justify-content-center fs-5"></i></a>
            </li>
            <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
              <a href="javascript:void(0)"  class="rounded-circle position-relative d-block customizer-bgcolor skin2-aquatheme-primary " onclick="toggleTheme('/dashboard/dist/css/style-aqua.min.css')"  data-color="aqua_theme" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="AQUA_THEME"><i class="ti ti-check  text-white d-flex align-items-center justify-content-center fs-5"></i></a>
            </li>
            <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
              <a href="javascript:void(0)" class="rounded-circle position-relative d-block customizer-bgcolor skin3-purpletheme-primary" onclick="toggleTheme('/dashboard/dist/css/style-purple.min.css')"  data-color="purple_theme" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="PURPLE_THEME"><i class="ti ti-check  text-white d-flex align-items-center justify-content-center fs-5"></i></a>
            </li>
            <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
              <a href="javascript:void(0)" class="rounded-circle position-relative d-block customizer-bgcolor skin4-greentheme-primary" onclick="toggleTheme('/dashboard/dist/css/style-green.min.css')"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="GREEN_THEME"><i class="ti ti-check  text-white d-flex align-items-center justify-content-center fs-5"></i></a>
            </li>
            <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
              <a href="javascript:void(0)" class="rounded-circle position-relative d-block customizer-bgcolor skin5-cyantheme-primary" onclick="toggleTheme('/dashboard/dist/css/style-cyan.min.css')"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="CYAN_THEME"><i class="ti ti-check  text-white d-flex align-items-center justify-content-center fs-5"></i></a>
            </li>
            <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
              <a href="javascript:void(0)" class="rounded-circle position-relative d-block customizer-bgcolor skin6-orangetheme-primary" onclick="toggleTheme('/dashboard/dist/css/style-orange.min.css')"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="ORANGE_THEME"><i class="ti ti-check  text-white d-flex align-items-center justify-content-center fs-5"></i></a>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="container-option pb-4">
        <h6 class="fw-semibold fs-4 mb-1">Container Option</h6>
        <div class="d-flex align-items-center gap-3 my-3">
          <a href="javascript:void(0)" class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 boxed-width text-dark">              
            <i class="ti ti-layout-distribute-vertical fs-7 text-primary"></i>
            <span class="text-dark">Boxed</span>
          </a>
          <a href="javascript:void(0)" class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 full-width text-dark">
            <i class="ti ti-layout-distribute-horizontal fs-7"></i>
            <span class="text-dark">Full</span>
          </a>
        </div>
      </div>
      <div class="sidebar-type pb-4">
        <h6 class="fw-semibold fs-4 mb-1">Sidebar Type</h6>
        <div class="d-flex align-items-center gap-3 my-3">
          <a  href="javascript:void(0)" class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 fullsidebar">              
            <i class="ti ti-layout-sidebar-right fs-7"></i>
            <span class="text-dark">Full</span>
          </a>
          <a  href="javascript:void(0)" class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center text-dark sidebartoggler gap-2">
            <i class="ti ti-layout-sidebar fs-7"></i>
            <span class="text-dark">Collapse</span>
          </a>
        </div>
      </div>
      <div class="card-with pb-4">
        <h6 class="fw-semibold fs-4 mb-1">Card With</h6>
        <div class="d-flex align-items-center gap-3 my-3">
          <a href="javascript:void(0)" class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 text-dark cardborder">              
            <i class="ti ti-border-outer fs-7"></i>
            <span class="text-dark">Border</span>
          </a>
          <a href="javascript:void(0)" class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 cardshadow">
            <i class="ti ti-border-none fs-7"></i>
            <span class="text-dark">Shadow</span>
          </a>
        </div>
      </div>
    </div>
  </div>
        <!-- Customizer -->
    <!-- Import Js Files -->
    <script src="/dashboard/dist/libs/jquery/dist/jquery.min.js"></script>
    <script src="/dashboard/dist/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="/dashboard/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- core files -->
    <script src="/dashboard/dist/js/app.min.js"></script>
    <script src="/dashboard/dist/js/app.init.js"></script>
    <script src="/dashboard/dist/js/app-style-switcher.js"></script>
    <script src="/dashboard/dist/js/sidebarmenu.js"></script>
    <script src="/dashboard/dist/js/custom.js"></script>
    <!-- current page js files -->
    <script src="/dashboard/dist/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="/dashboard/dist/js/dashboard5.js"></script>
  </body>

</html>